.generic-file-icon {
    background-image: url('/Content/Images/App/FileIcons/generic-outline-120.png');
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
}

.document-file-icon {
    background-image: url('/Content/Images/App/FileIcons/document-outline-120.png');
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
}
