.generic-file-icon {
    background-image: url('/Content/Images/App/FileIcons/generic-outline-80.png');
    width: 80px;
    height: 80px;
}

.document-file-icon {
    background-image: url('/Content/Images/App/FileIcons/document-outline-80.png');
    width: 80px;
    height: 80px;
}
