@media screen and (max-width: 800px) 
{
    .document .document-body .document-main-column
    {
        margin-right: 0;
    }
    
    .document .document-body .document-side-column
    {
        position: static;
        width: auto;
    }
}

@media screen and (max-width: 600px) 
{
    .main-column
    {
        margin-left: 0;
    }
    
    .menu-column
    {
        position: static;
        width: auto;
    }    
    
    div.header .title .actions-wrapper
    {
        margin-top: 10px;
        margin-left: 0;
    }
    
    div.header .title .actions-wrapper input[type=text]
    {
        max-width: inherit;
    }
    
    div.header .title .logo-wrapper
    {
        float: none;
        text-align: center;
        width: auto;
    }    
}

