.patient-box 
{
    margin-top:10px;
}

.patient-box label 
{
    display: block;
    margin-bottom: 3px;
}

.patient-box a
{
    display: block;
    font-size:0.8em;
    margin-top:2px;
}

.patient-box input
{
    width: 100%;
}

.dateWithAppointments 
{
    background-color: #D6DDEF;
}