<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <!--True if you wish to use only local resources for a presentation without internet connection-->
    <!--This works only with loopback urls... in production this has no effects-->
    <add key="IsLocalPresentation" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet_97587a4497834efc9aed55876355ac00;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="CerebelloEntities" connectionString="metadata=res://*/CerebelloEntities.csdl|res://*/CerebelloEntities.ssdl|res://*/CerebelloEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SqlExpress;Initial Catalog=cerebello;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="CerebelloEntities" connectionString="metadata=res://*/CerebelloEntities.csdl|res://*/CerebelloEntities.ssdl|res://*/CerebelloEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:irsrh7qw7t.database.windows.net,1433;Database=cerebello;User ID=cerebellohq@irsrh7qw7t;Password=26uj27oP;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
</configuration>
