<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <!--Release setting-->
    <add key="CanonicalUrlHost" value="www.cerebello.com.br" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="8121;True;5468;1;-8588692780467068781" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="2;web.config.backup" />
    <!--PayPal settings-->
    <!--Values: Sandbox, Masb, Cerebello-->
    <add key="PayPal:SettingsToUse" value="CerebelloTest2" />
    <!--PayPal Sandbox settings-->
    <!--https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=developer/e_howto_api_ECGettingStarted-->
    <add key="PayPal:Sandbox.ApiType" value="sandbox" />
    <add key="PayPal:Sandbox.PayPalUser" value="sdk-three_api1.sdk.com" />
    <add key="PayPal:Sandbox.PayPalPassword" value="QFZCWN5HZM8VBG7Q" />
    <add key="PayPal:Sandbox.PayPalSignature" value="A-IzJhZZjhg29XQ2qnhapuwxIDzyAZQ92FRP5dqBzVesOkzbdUONzmOU" />
    <!--PayPal CerebelloTest settings-->
    <add key="PayPal:CerebelloTest.ApiType" value="sandbox" />
    <add key="PayPal:CerebelloTest.PayPalUser" value="n1_m_api1.gmail.com" />
    <add key="PayPal:CerebelloTest.PayPalPassword" value="UYQYSDYEKQHYXQTQ" />
    <add key="PayPal:CerebelloTest.PayPalSignature" value="An5ns1Kso7MWUdW4ErQKJJJ4qi4-AjWbxlImJ3TgYa7IEkOqmTEks5by" />
    <!--PayPal CerebelloTest-2 settings-->
    <add key="PayPal:CerebelloTest2.ApiType" value="sandbox" />
    <add key="PayPal:CerebelloTest2.PayPalUser" value="n1_m_1349310230_biz_api1.gmail.com" />
    <add key="PayPal:CerebelloTest2.PayPalPassword" value="1349310253" />
    <add key="PayPal:CerebelloTest2.PayPalSignature" value="AiObqW3zwxxoUThk-DQjIYAnhF8cAkBKiRzCZzEivzC5iNROjjJUxgu8" />
    <!--PayPal MASB settings-->
    <!--https://www.paypal.com/br/webscr?cmd=_profile-api-signature-->
    <add key="PayPal:Masb.ApiType" value="production" />
    <add key="PayPal:Masb.PayPalUser" value="masbicudo_api1.gmail.com" />
    <add key="PayPal:Masb.PayPalPassword" value="AQ246Z44A5CZ9NF7" />
    <add key="PayPal:Masb.PayPalSignature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AHANezBO62SSySE157h.jlqS0hTP" />
    <!--PayPal Cerebello settings-->
    <add key="PayPal:Cerebello.ApiType" value="production" />
    <add key="PayPal:Cerebello.PayPalUser" value="" />
    <add key="PayPal:Cerebello.PayPalPassword" value="" />
    <add key="PayPal:Cerebello.PayPalSignature" value="" />
    <!--PayPal general configurations-->
    <add key="PayPal:LocalCode" value="Brazilian_Portuguese" />
    <add key="PayPal:CurrencyCode" value="Brazilian_Real" />
    <add key="NewRelic.AppName" value="Cerebello" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="/authentication/login" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="CerebelloWebRole.Code.Extensions" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </sessionState>
    <httpModules />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <mimeMap fileExtension=".trdx" mimeType="application/octet-stream" />
    </staticContent>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.HostAdapters.ASPNETAdapter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio%2010.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.QualityTools.HostAdapters.ASPNETAdapter.DLL" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="file:///C:/Windows/assembly/GAC_MSIL/Microsoft.VisualStudio.QualityTools.Common/10.0.0.0__b03f5f7f11d50a3a/Microsoft.VisualStudio.QualityTools.Common.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.ExecutionCommon" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="file:///C:/Windows/assembly/GAC_MSIL/Microsoft.VisualStudio.QualityTools.ExecutionCommon/10.0.0.0__b03f5f7f11d50a3a/Microsoft.VisualStudio.QualityTools.ExecutionCommon.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Resource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="file:///C:/Windows/assembly/GAC_MSIL/Microsoft.VisualStudio.QualityTools.Resource/10.0.0.0__b03f5f7f11d50a3a/Microsoft.VisualStudio.QualityTools.Resource.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- LOCAL -->
    <add name="DefaultConnection" connectionString="         Data Source=.\SQLEXPRESS;         Initial Catalog=aspnet_97587a4497834efc9aed55876355ac00;         Integrated Security=True;         MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!-- LOCAL -->
    <add name="CerebelloEntities_Local" connectionString="         metadata=res://*/CerebelloEntities.csdl|res://*/CerebelloEntities.ssdl|res://*/CerebelloEntities.msl;         provider=System.Data.SqlClient;         provider connection string=&quot;           Data Source=.\SqlExpress;           Initial Catalog=cerebello;           Integrated Security=True;           MultipleActiveResultSets=True;         &quot;" providerName="System.Data.EntityClient" />
    <!-- AZURE -->
    <add name="CerebelloEntities_Azure" connectionString="         metadata=res://*/CerebelloEntities.csdl|res://*/CerebelloEntities.ssdl|res://*/CerebelloEntities.msl;         provider=System.Data.SqlClient;         provider connection string=&quot;           Server=kurptcva75.database.windows.net,1433;           Database=cerebellohq;           User ID=cerebello@cerebello.com.br;           Password=26uj27oP;           Trusted_Connection=False;           Encrypt=True;           Connection Timeout=30;           MultipleActiveResultSets=True;         &quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>