@model AppointmentViewModel
@{
    this.ViewBag.Title = "Configure a agenda";
}
@section Title {
@this.ViewBag.Title
}
@section SideBar
{
@*    <ul>
        <li><a class="icon-link icon-link-help" href="@Url.Action("ConsultingTheSchedule", "HomeDocs", new { area = "Docs" })" target="_blank">Ajuda</a></li>
    </ul>*@
}
<div class="appointment-edit">
    @using (Html.BeginForm("Edit", "ConfigSchedule", FormMethod.Get))
    {
        @Html.Message("Antes de usar a agenda é preciso configurá-la.")
        
        <div class="submit-bar">
            <input id="config-agenda-button" type="submit" value="Configurar agenda" />
        </div>
    }
</div>
