@model PastMedicalHistoryViewModel
@{
    Layout = null;
}
<div class="medical-appointment-details-panel" data-val-id="anamnese-@Model.Id">
    @if (Model != null)
    {
        var cardView = this.Html.CreateCardView(true);
        cardView.AddField(model => model.MajorEvents, wholeRow: true);
        cardView.AddField(model => model.Allergies, wholeRow: true);
        cardView.AddField(model => model.OngoinMedicationProblems, wholeRow: true);
        cardView.AddField(model => model.FamilyMedicalHistory, wholeRow: true);
        cardView.AddField(model => model.PreventiveCare, wholeRow: true);
        cardView.AddField(model => model.SocialHistory, wholeRow: true);
        cardView.AddField(model => model.NutritionHistory, wholeRow: true);
        cardView.AddField(model => model.DevelopmentHistory, wholeRow: true);
        
        @cardView.GetHtml()
    }
    <div class="inline-link-bar">
        <span class="inline-link" onclick="ajaxLoad('@Url.Action("Edit", "PastMedicalHistories", new { id = Model.Id })', 'div[data-val-id=anamnese-@Model.Id]');">Edit past medical history</span>
        <span class="inline-link" onclick="deleteConfirmation('past medical history', '@Url.Action("Delete", "PastMedicalHistories", new { id = Model.Id })');">Remove medical history</span>
    </div>
</div>
