@model CerebelloWebRole.Areas.App.Models.PatientsIndexViewModel
@using CerebelloWebRole.Code
@{
    ViewBag.Title = "Prontuário · Cerebello";

    ViewBag.Watermark = "Pesquisar pelo nome do paciente";

    var localNow = (DateTime)this.ViewBag.LocalNow;

    var grid = this.Html.CreateGrid(this.Model.LastRegisteredPatients);
    grid.AddLinkField(m => m.FullName, "Details", m => new { id = m.Id });
    grid.AddField(m => m.DateOfBirth, item => DateTimeHelper.GetPersonAgeInWords(item.DateOfBirth, localNow, true), header: "Idade");
    grid.AddEditField("Edit", "Patients", model => new { model.Id });
}
@section Title {
Prontuário
}
@section Styles {
    <link type="text/css" rel="Stylesheet" href="/content/styles/app/jquery.jqplot.min.css" />
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("create", "patients")" class="icon-link icon-link-plus">Novo
            paciente</a></li>
    </ul>
}
@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}
<div class="widget">
    <h2>Últimos pacientes cadastrados
    </h2>
    @grid.GetHtml()
</div>
