@model CerebelloWebRole.Areas.App.Models.SearchViewModel<CerebelloWebRole.Areas.App.Models.PatientViewModel>
@using CerebelloWebRole.Code
@{
    ViewBag.Title = "Search";
    ViewBag.Watermark = "Pesquisar pelo nome do paciente";

    var localNow = (DateTime)this.ViewBag.LocalNow;

    var grid = this.Html.CreateGrid(this.Model.Objects, Constants.GRID_PAGE_SIZE, this.Model.Count);
    grid.AddLinkField(m => m.FullName, "Details", m => new { id = m.Id });
    grid.AddField(m => m.DateOfBirth, item => DateTimeHelper.GetPersonAgeInWords(item.DateOfBirth, localNow, true), header: "Idade");
}
@section Title {
Pesquisa de pacientes
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("create", "patients")">Novo paciente</a></li>
    </ul>
}
@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}
<div class="search-result">
    <h2>Resultado da pesquisa
    </h2>
    @grid.GetHtml()
</div>
