@model SearchViewModel<PatientViewModel>

@{
    const string title = "Search patients";
    ViewBag.Title = string.Format("{0} · Cerebello", title);
    ViewBag.Watermark = "Search by the patient name";

    var localNow = (DateTime)this.ViewBag.LocalNow;

    var grid = this.Html.CreateGrid(this.Model.Objects, Constants.GRID_PAGE_SIZE, this.Model.Count);
    grid.AddLinkField(m => m.FirstName, "Details", m => new { id = m.Id });
    grid.AddField(m => m.DateOfBirth, item => DateTimeHelper.GetPersonAgeInWords(item.DateOfBirth, localNow, true), header: "Idade");
    grid.AddEditField("Edit", "Patients", model => new { model.Id});
}
@section Title {
    @title
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("create", "patients")">New patient</a></li>
    </ul>
}
@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new SearchModel())
}
<div class="search-result">
    <h2>Search results
    </h2>
    @grid.GetHtml()
</div>
