@model CerebelloWebRole.Areas.App.Models.DoctorPatientsSearchViewModel
@{
    ViewBag.Title = "Search";
    ViewBag.Watermark = "Pesquisar pelo nome do paciente";

    var grid = Html.CreateGrid(this.Model.Patients, CerebelloWebRole.Code.Constants.GRID_PAGE_SIZE);
    grid.AddField(m => m.FullName);
    grid.AddField(m => m.DateOfBirth, format: @<text>DateTimeHelper.GetPersonAgeInWords(@item.DateOfBirth, true)</text>);
}
@section Title {
    Pesquisa de pacientes
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("create", "patients")">Novo paciente</a></li>
    </ul>
}
@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}
<div class="search-result">
    <p class="title">
        Resultado da pesquisa
    </p>
    @grid.GetHtml()
</div>