@model MedicineLaboratoryViewModel
@{
    this.Layout = null;

    var editPanel = Html.CreateEditPanel();
    editPanel.AddField(m => m.Name);
}

<div class="edit-laboratory">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "new_laboratory_form" }))
    {
        @Html.ValidationSummary(false)
        @editPanel.GetHtml()
        <div class="submit-bar">
            <input type="submit" value="save laboratory" />
            <span class="separator">or</span> <a href="#" onclick="$(this).trigger('modal-cancel'); return false;">cancel</a>
        </div>
    }

    <script type="text/javascript">
        $("#new_laboratory_form").modalForm();
    </script>
</div>
