@model CerebelloWebRole.Areas.App.Models.MedicinesIndexViewModel
@{
    ViewBag.Title = "Labotarórios · Cerebello";
    ViewBag.Watermark = "Pesquisar pelo nome do laboratório";
}
@section Title {
Medicamentos
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("create")" class="icon-link icon-link-plus">Novo laboratório</a> </li>
    </ul>
}

@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}

