@using CerebelloWebRole.Areas.App.Models
@model SearchViewModel<CerebelloWebRole.Areas.App.Models.MedicineLaboratoryViewModel>
@{
    var title = "Pesquisa de laboratórios";
    ViewBag.Title = string.Format("{0} · Cerebello", title);
    ViewBag.Watermark = "Pesquisar pelo nome do laboratório";

    var grid = this.Html.CreateGrid(this.Model.Objects, CerebelloWebRole.Code.Constants.GRID_PAGE_SIZE, this.Model.Count);
    grid.AddLinkField(m => m.Name, "Details", m => new { id = m.Id });
}
@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockScriptType.SelfOrAdminOrOwner, "médico"))
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Create")" class="icon-link icon-link-plus">Novo laboratório</a> </li>
    </ul>
}
@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}
<div class="search-result">
    <h2>Resultado da pesquisa
    </h2>
    @grid.GetHtml()
</div>
