@{
    this.Layout = "/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "Cerebello - Gerenciador de Consultórios Médicos / Prontuário eletrônico";
}

@section Header {
    <link rel="stylesheet" type="text/css" href="/Content/Styles/Site/Cancel.css" />
}

<div class="box-page-container">
    <div class="box-page-container-wrapper">
        <div class="header">
            <h2>Sua conta foi cancelada</h2>
            <div class="buttons-wrapper">
                <a class="btn btn-small" href="@Url.Action("Index", "Home")">Voltar ao Cerebello</a>
            </div>
        </div>
        <div class="body">
            <p class="text-error">
                Como foi solicitado, sua conta foi cancelada.
            </p>
            <p>
                Caso haja alguma coisa que possamos fazer tê-lo de volta, por favor, envie um e-mail para <a href="mailto:cerebello@cerebello.com.br">cerebello@Cerebello.com.br</a>.
        Caso você tenha alguma sugestão sobre como tornar o Cerebello melhor, por favor, acesse a nossa <a href="https://cerebello.uservoice.com/forums/189691-central-de-id%C3%A9ias-do-cerebello">central de ideias</a>.
            </p>
            <p>
                Nós sentimos muito a sua partida e esperamos que um dia possamos fazer parte do seu consultório novamente.
            </p>
            <p>
                - Equipe do Cerebello.
            </p>
        </div>
    </div>
</div>
