@{
    ViewBag.Title = "Cerebello - Gerenciador de Consultórios Médicos";
}
<div class="container">

    <style type="text/css">
        .sad-img
        {
            border: transparent;
            border-radius: 25px;
            -moz-border-radius: 25px; /* Old Firefox */
            background: url('/Content/Images/Site/sad_cancel_account.jpg');
            width: 450px;
            height: 300px;
            float: left;
            margin: 1em;
        }
    </style>

    <div class="container features">
        <div class="row">
            <div class="sad-img"></div>
            <div class="span6">
                <h3>Conta cancelada</h3>

                <p>Sua conta foi cancelada.</p>
                <p>Ficamos tristes com sua decisão.</p>
            </div>
        </div>
    </div>
</div>
