@{
    ViewBag.Title = "Cerebello - Gerenciador de Consultórios Médicos";
}
<div class="hero ac">
    <div class="container">
        <h1>
            Gerencie seu consultório médico com facilidade.</h1>
        <div class="big-media">
            <img width="940" height="340" src="/Content/Images/Site/screenshots.jpg" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span9">
            <h1>
                Com o Cerebello<span style="font-size: 0.6em;position: relative;top: -10px;">&reg;</span> é fácil manter controle sobre seu consultório médico de qualquer
                lugar, a qualquer momento.</h1>
        </div>
        <div class="span3">
            <p class="ac">
                <a class="btn huge btn-success btn-large" style="display: block">Crie sua conta
                </a>
            </p>
            <h3 class="ac" style="line-height: 1">
                100% gratuito<br />
                <small>para até 50 pacientes</small></h3>
        </div>
    </div>
    <hr />
    <div class="container features">
        <div class="row">
            <div class="span6">
                <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span5">
                        <h3>
                            Prontuário</h3>
                        <p>
                            Organize e mantenha o histórico das informações completas sobre seus pacientes:
                            Anamneses, receitas, solicitações de exames, diagnósticos, atestados e muito mais.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span5">
                        <h3>
                            Agenda</h3>
                        <p>
                            Veja o panorama completo da sua agenda de forma prática: Dias livres, dias lotados,
                            próximos horários livres, distribuição de consultas por convênio, pacientes novos,
                            retornos e etc.</p>
                        <p>
                            E-Mails são automaticamente enviados aos os pacientes para lembrá-los das consultas,
                            diminuindo assim, a incidência de faltas por esquecimento.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span5">
                        <h3>
                            Medicamentos</h3>
                        <p>Cadastre, faça anotações, mantenha controle de quais pacientes estão usando quais medicamentos,
                        organize-os por princípios ativos e laboratório.</p>
                        <p>
                            Importe informações sobre medicamentos e bulas diretamente do site da anvisa de forma bem simplificada.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span5">
                        <h3>
                            Receitas e atestados</h3>
                        <p>Crie modelos customizados de receitas e atestados e exporte facilmente para PDF para que possam ser impressos ou armazenados</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span5">
                        <h3>
                            Financeiro</h3>
                        <p>Mantenha controle sobre o faturamento do seu consultório, valor aproximado a ser recebido por convênio e etc.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span5">
                        <h3>
                            Trabalhe com secretárias e outros médicos</h3>
                        <p>Além do Cerebello suportar o trabalho colaborativo com secretárias, é possível vincular vários médicos ao mesmo consultório e compartilhar informações e ver análises detalhadas do consultório</p>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="well"><iframe width="100%" height="243" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/32XrYPvdlk0?rel=0&amp;wmode=transparent"></iframe></div>
                <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span5">
                        <h3>
                            Tenha as vantagens de um software web</h3>
                        <p>Com o Cerebello, você não precisa se preocupar com instalações, infraestrutura de servidores, redes e backup. Basta ter um dispositivo qualquer conectado à internet (Computador, Smartphone, Tablet...) e você tem acesso a todos os recursos do sistema, em qualquer lugar, a qualquer momento. Nós trabalhamos para cuidar da segurança e disponibilidade dos seus dados enquanto você cuida do que é mais importante: Seus pacientes.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span5">
                        <h3>
                            Foco em simplicidade</h3>
                        <p>
                            O Cerebello foi cuidadosamente projetado para favorecer a experiência do usuário. Tudo na interface é simples e as ações mais 
                            frequentes como pesquisas e marcação de consultas são mais simples ainda.</p>
                        <p>
                            E-Mails são automaticamente enviados aos os pacientes para lembrá-los das consultas,
                            diminuindo a incidência de faltas por esquecimento.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span5">
                        <h3>
                            Documentação completa</h3>
                        <p>
                            Nós não popamos esforços para deixar tudo claramente especificado e documentado. Dispensa consultoria e treinamento.</p>
                            <p>Leia os manuais, veja os vídeos e se mantenha informado das novidades através do Facebook e Twitter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
