@{
    ViewBag.Title = "Cerebello - Gerenciador de Consultórios Médicos / Prontuário eletrônico";
}
<div class="hero ac">
    <div class="container">
        <div class="hero-wrapper">
            <div class="create-account-wrapper">
                <h1>Manage your medical practice with Cerebello</h1>
                <a class="btn huge btn-success btn-large" href="@Url.Action("CreateAccount", "Authentication")">Create your free account</a>
                <p style="margin-top: 10px;">... and start using Cerebello in <b style="font-size: 1.2em;">5 minutes</b>.</p>
            </div>
            <div class="screenshot-wrapper">
                <img src="/Content/Images/Site/screenshot1.png" />
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="container-header">
        <h3>Cerebello is an open-source online EMR/EHR solution for small medical practices. It's amazingly simple and makes it easier to keep track of your patients data.
        </h3>
    </div>

    <div class="container features">
        <div class="row">
            <div class="span6">
                <h3>How does it work?</h3>
                <p>
                    Cerebello is available at two different models:
                </p>
                <p>
                    <b>Self hosted solution:</b> You download Cerebello and install it at your own servers for free. You are responsible 
                    for the infrastructure and upgrade management. If you need assistance, please refer to the <a href="#">Cerebello installation guide</a>.
                </p>

                <div style="height: 1px; background-color: #DCDCDC; text-align: center; margin: 15px 0">
                    <span style="background-color: white; position: relative; top: -9px; font-style: italic; padding: 10px; color: rgb(147, 147, 147)">Or
                    </span>
                </div>
                
                <p>
                    <b>Cerebello hosted solution:</b> 
                    You <a href="#">create an account</a> and we take care of your installation and data. Cerebello hosted solution is free for practices with a single doctor, with a limited 2GB of patients file.
                    Hosted solution highlights:
                </p>

                <ul class="green-checks">
                    <li>You don't have to care about installations, servers, security and backup. We take care of the infrastructure while you take care of what really matters: Your patients.</li>
                    <li>Your patients data are secure and highly available at the <a href="http://www.windowsazure.com/pt-br/">Microsoft Servers</a>. 
                        Additionally, you have extra security and offline data availability through the <a href="http://drive.google.com/" target="_blank">Google Drive</a> automatic backups.
                        All information transits with 128 bits criptography.</li>
                    <li>Cerebello is always improving. All upgrades and data migration are available at no extra fee. Additionally, we are always open to your <a href="http://cerebello.uservoice.com/forums/189691-central-de-id%C3%A9ias-do-cerebello" target="_blank">improvements suggestion</a>.</li>
                    <li>We have a free account. Professional accounts start at <code>@StringHelper.FormatMoney(Bus.Pro.PRICE_YEAR / 12) /month</code>.
                        <a href="@Url.Action("PricesAndPlans")">Pricing details.</a>
                    </li>
                </ul>

                <p>You can start using Cerebello right now and see it for yourself. No bureaucracy and no credit card information required.</p>

                <a class="btn btn-warning btn-large" href="@Url.Action("CreateAccount", "Authentication")">Start using Cerebello hosted solution</a>
            </div>
            <div class="span6">
                <div class="row">
                    <div class="span1">
                        <img src="/Content/Images/Site/prontuario.png" class="features-icon" />
                    </div>
                    <div class="span5">
                        <h3>Eletronic Health Record</h3>
                        <p>
                            Organize and keep track of your patients data:
                            Anamneses, prescriptions, exams, diagnosis, medical certificates e etc. Cerebello offers illimited file storage
                            for your patients files, like images and documents.
                        </p>
                        <p>
                            Your patients data, including the files, can be exported to PDF, XML and ZIP files.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <img src="/Content/Images/Site/agenda.png" class="features-icon" />
                    </div>
                    <div class="span5">
                        <h3>Schedule</h3>
                        <p>
                            Keep track of your schedule: Appointments, scheduling and free time slots.
                        </p>
                        <p>
                            E-Mails are automatically sent to patients to warn them about upcomming appointments.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <img src="/Content/Images/Site/medicamentos.png" class="features-icon" />
                    </div>
                    <div class="span5">
                        <h3>Medications</h3>
                        <p>Register, write notes and keep track of medicine usages.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <img src="/Content/Images/Site/documentos.png" class="features-icon" />
                    </div>
                    <div class="span5">
                        <h3>Prescriptions and medical certificates</h3>
                        <p>Create customizable certificate models and export prescriptions and medical certificates to PDF so they can printed or stored</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <img src="/Content/Images/Site/usuarios.png" class="features-icon" />
                    </div>
                    <div class="span5">
                        <h3>Multi-user support</h3>
                        <p>Work together with desks and other doctors in your practice.</p>
                        <p>Cerebello offers tools for improving the colaboration within your practice, like notifications and chat.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <img src="/Content/Images/Site/backup.png" class="features-icon" />
                    </div>
                    <div class="span5">
                        <h3>Automatic backup</h3>
                        <p>
                            All your patients data are automatically synchronized with your <a href="http://drive.google.com/" target="_blank">Google Drive</a> account,
                            including clinical data, profile pictures and uploaded files.
                            You can access this information off-line at your PC at any moment, or online through your smartphone or tablet.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
