@{
    ViewBag.Title = "Cerebello - Gerenciador de Consultórios Médicos";
}
<div class="hero ac">
    <div class="container">
        <div class="hero-wrapper">
            <div class="create-account-wrapper">
                <h1>Gerencie seu consultório médico online com o Cerebello</h1>
                <a class="btn huge btn-success btn-large" href="@Url.Action("CreateAccount", "Authentication")">Crie sua conta gratuitamente</a>
                <p style="color: white; margin-top: 10px; text-shadow: 0 1px 2px #000000;">... e comece a utilizar o software em <b style="font-size: 1.2em; font-style: italic;">5 minutos</b>.</p>
            </div>
            <div class="screenshot-wrapper">
                <img src="/Content/Images/Site/screenshot1.png" />
            </div>
        </div>
    </div>
</div>
<div class="container">

    <h3 style="line-height: 1.1em;">O Cerebello é o software de gerenciamento online de consultórios médicos.
        É fácil de usar e simplifica o fluxo de trabalho do seu consultório.
        <span style="color: #999999">Veja o vídeo de apresentação.</span>
    </h3>

    <img src="/Content/Images/Site/arrow.png" style="margin-left: -60px; margin-top: -25px; position: absolute;" />
    <hr />

    <div class="container features">
        <div class="row">
            <div class="span6">
                <div class="well">
                    @if (Configuration.Instance.IsLocalPresentation)
                    {
                        <center style="width: 530px; height: 243px; background: #222; line-height: 243px;">
                            <center style="width: 432px; height: 243px; background: black; color: white; vertical-align: middle;">
                                VIDEO DE APRESENTAÇÃO
                            </center>
                        </center>
                    }
                    else
                    {
                        <iframe width="100%" height="243" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/32XrYPvdlk0?rel=0&amp;wmode=transparent"></iframe>
                    }
                </div>

                <h3>Vantagens de usar o Cerebello:</h3>

                <ul class="green-checks">
                    <li>Tenha acesso às suas informações de qualquer lugar: PC, tablets ou smartphones.</li>
                    <li>Não se preocupe com instalações, servidores, segurança ou backup.</li>
                    <li>Seus dados estão seguros, com backup automático e com alta disponibilidade nos <a href="http://www.windowsazure.com/pt-br/">servidores da Microsoft</a>.</li>
                    <li>O Cerebello sofre atualizações constantes e está sempre melhorando. Todas as atualizações estão incluídas no pacote sem custo adicional.</li>
                    <li>Experimente gratuitamente todos os recursos pelo tempo que desejar com um limite de 50 pacientes. A qualquer momento você pode atualizar para uma conta profissional por um custo fixo de <code>R$ 89,00</code> mensais na assinatura anual.<a href="@Url.Action("PricesAndPlans")">Veja os preços e planos.</a></li>
                </ul>

                <p>Você pode começar a utilizar o software agora e ver por você mesmo. Sem burocracia, sem informar dados de cartão de crédito e só demora 5 minutos:</p>

                <a class="btn btn-warning btn-large" href="@Url.Action("CreateAccount", "Authentication")">Comece a usar o Cerebello</a>
            </div>
            <div class="span6">
                <div class="row">
                    <div class="span1">
                        <img src="/Content/Images/Site/prontuario.png" class="features-icon" />
                    </div>
                    <div class="span5">
                        <h3>Prontuário</h3>
                        <p>
                            Organize e mantenha o histórico das informações completas sobre seus pacientes:
                            Anamneses, receitas, solicitações de exames, diagnósticos, atestados e muito mais.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <img src="/Content/Images/Site/agenda.png" class="features-icon" />
                    </div>
                    <div class="span5">
                        <h3>Agenda</h3>
                        <p>
                            Veja o panorama completo da sua agenda de forma prática: Consultas, compromissos, fila de atendimento, próximos horários livres e etc.
                        </p>
                        <p>
                            E-Mails são automaticamente enviados aos os pacientes para lembrá-los das consultas,
                            diminuindo assim, a incidência de faltas por esquecimento.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <img src="/Content/Images/Site/medicamentos.png" class="features-icon" />
                    </div>
                    <div class="span5">
                        <h3>Medicamentos</h3>
                        <p>Cadastre, faça anotações, mantenha controle de quais pacientes estão usando quais medicamentos.</p>
                        <p>
                            Importe informações sobre medicamentos e bulas diretamente do site da anvisa de forma bem simplificada.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <img src="/Content/Images/Site/documentos.png" class="features-icon" />
                    </div>
                    <div class="span5">
                        <h3>Receitas e atestados</h3>
                        <p>Crie modelos customizados de atestados e exporte receitas e atestados facilmente para PDF para que possam ser impressos ou armazenados</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <img src="/Content/Images/Site/usuarios.png" class="features-icon" />
                    </div>
                    <div class="span5">
                        <h3>Múltiplos usuários</h3>
                        <p>Trabalhe com secretárias e outros médicos no mesmo consultório.</p>
                        <p>O Cerebello possui ferramentas para facilitar a colaboração entre usuários como notificações e chat.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
