@{
    ViewBag.Title = "Cerebello - Gerenciador de Consultórios Médicos / Prontuário eletrônico";
}

<header id="header">
    <div class="showcase">
        <div class="container">
            <h1>Free on-premise or Cloud</h1>
            <h2>Cerebello is the most cost effective Eletronic Health Records software for small practices</h2>
        </div>
    </div>
</header>
<div class="container">
    <p>
        Cerebello is open-source and can be installed for free at your own servers. If you need assistance, please refer to the <a href="#">Cerebello installation guide</a>. Alternatively, you can count 
        on Cerebello experts to help set up your environment and possibly customize it to better fit your needs. This service is offered through consulting. For more information, please refer to 
        the <a href="#">Cerebello consulting guide</a>.
    </p>
    <h3>Cerebello Cloud solution</h3>
    <div class="well">
        <p>
            Cerebello Cloud is a <a href="http://pt.wikipedia.org/wiki/Software_como_servi%C3%A7o" target="blank">SaaS</a> solution. It's offered as a service in which we take care of all your infrastructure, security, hosting, backup, upgrade management and support.
            See our options:
        </p>
        <table class="table table-outer-bordered prices">
            <thead>
                <tr>
                    <th>Free account</th>
                    <th>Professional account</th>
                    <th>Unlimited account</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h2>Free</h2>
                        <h6 style="visibility: hidden">free</h6>
                        <p>
                            <small>Ilimited patients</small>
                            <br />
                            <small>1 doctor + ilimited other users</small>
                            <br />
                            <small>2GB patients files limit</small>
                            <br />
                            <small class="text-error">No priority support</small>
                        </p>
                        <p>
                            <a title="Start your free trial" href="@Url.Action("CreateAccount", "Authentication", new { Subscription = "1M" })" class="btn btn-success">Sign up</a>
                        </p>
                    </td>
                    <td>
                        <h2>$30.00</h2>
                        <h6>per month / per doctor</h6>
                        <p>
                            <small>Ilimited patients</small>
                            <br />
                            <small>1 or more doctors + ilimited other users</small>
                            <br />
                            <small>Ilimited patients files limit</small>
                            <br />
                            <small class="text-success">*Priority support</small>
                        </p>
                        <p>
                            <a title="Start your free trial" href="@Url.Action("CreateAccount", "Authentication", new { Subscription = "3M" })" class="btn btn-success">Sign up</a>
                        </p>
                    </td>
                    <td>
                        <h2>$1,200.00</h2>
                        <h6><b>per year</b></h6>
                        <p>
                            <small>Ilimited patients</small>
                            <br />
                            <small>Ilimited doctors and other users</small>
                            <br />
                            <small>Ilimited patients files limit</small>
                            <br />
                            <small class="text-success">*Priority support</small>
                        </p>
                        <p>
                            <a title="Start your free trial" href="@Url.Action("CreateAccount", "Authentication", new { Subscription = "3M" })" class="btn btn-success">Sign up</a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="clear: both"></div>
        <div class="row-fluid">
            <div class="span6">
                <h4>All options include:</h4>
                <ul>
                    <li>SSL certificate.</li>
                    <li>Ilimited patients, medicines and consultations.</li>
                    <li>Automatic updates and data migration.</li>
                    <li>Backup and offline data availability with <a href="http://drive.google.com/" target="_blank">Google Drive</a>.</li>
                    <li>Data export to XML and PDF.</li>
                </ul>
            </div>
            <div class="span6">
                <p style="text-align: right; margin: 0"><small><span class="text-success">*Priority support</span>: All support e-mails are answered within 24 hours. All confirmed issues are resolved within 72 hours. User environment must comply with the <a href="#">minimum system requirements</a>.</small></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">

            <h4>Experimente pelo tempo que desejar</h4>
            <p>
                Nós queremos que você teste o Cerebello pelo tempo que julgar necessário.
                Todos os recursos estão incluídos gratuitamente, inclusive o suporte a múltiplos usuários (secretárias, médicos e administradores).
                A única limitação é que só é permitido cadastrar 50 pacientes.
            </p>
            <p>
                A qualquer momento é possível cancelar o período de experiência e nada será cobrado.
                Também é possível migrar para o plano profissional com pacientes ilimitados.
                Caso você tenha qualquer dúvida, não hesite em nos contatar.
                Caso o Cerebello não tenha alguma funcionalidade que você julgue importante,
                nos comunique para que possamos estudar o caso e possivelmente incorporá-la ao software.
                Sua opinião é fundamental, e é sempre bem vinda!
            </p>
            <h4>Quais browsers são suportados? De onde eu posso acessar o Cerebello?</h4>
            <p>
                O Cerebello suporta o IE 9 ou superior, Firefox 4 ou superior, Chrome 10 ou superior e Safari 5 ou superior.
                Atualmente não existe uma versão específica do Cerebello para dispositivos móveis, porém, é perfeitamente possível
                acessá-lo de smartphones e tablets modernos. Nós estamos trabalhando em uma versão adaptada para dispositivos móveis.
            </p>
            <h4>Existe alguma taxa de adesão?</h4>
            <p>
                Não. Para começar a utilizar o Cerebello não é necessário pagar nada.
                O pagamento somente é necessário quando houver intenção de usar o Cerebello profissionalmente,
                eliminando então o limite de 50 pacientes.
                Neste caso, uma das opções de periodicidade de pagamento deve ser escolhida
                e o pagamento deve ser feito antecipadamente para cada período.
            </p>

        </div>
        <div class="span6">
            <h4>Quais são os meios de pagamento disponíveis?</h4>
            <p>
                Atualmente trabalhamos com faturas do PayPal, enviadas por e-mail, que podem ser pagas utilizando VISA ou MasterCard.
            </p>
            <h4>Eu tenho que assinar algum contrato de fidelidade?</h4>
            <p>
                Somente as assinaturas com desconto por periodicidade maior que a mensal são opções de fidelidade.
                Você pode cancelar a qualquer momento, mantendo o Cerebello disponível até o fim da vigência do período já pago.
                Por exemplo: se você optou pelo pagamento trimestral e cancelar a conta, não será emitida outra fatura e o sistema somente
                ficará disponível até o vencimento desse trimestre. O mesmo vale para todas as periodicidades.
                Você pode também optar por ter o valor proporcional ao tempo não usado de volta,
                sendo que neste caso aplica-se multa de 10% sobre este valor, da acordo com o permitido por lei.
            </p>
            <h4>Se, no futuro, eu quiser sair do Cerebello e ir para outro software, o que acontece com meus dados?</h4>
            <p>
                O Cerebello exporta todas as informações dos seus pacientes para XML.
                Esses dados podem ser importados por outro software caso ele seja programado para isto.
                É provável que a outra empresa vá cobrar uma taxa de desenvolvimento e importação desses dados,
                mas tecnicamente não há nada que o impossibilite de levar os seus dados do Cerebello para outro software.
            </p>
            <h4>Se eu não pagar a mensalidade ou houver algum outro problema com a minha conta, o que acontece com os dados dos meus pacientes?</h4>
            <p>Nós nunca apagamos dados de pacientes. Em caso de problemas com a sua conta, nos contate para ter acesso a esses dados novamente.</p>
        </div>
    </div>
</div>
