@{
    ViewBag.Title = "Cerebello - Gerenciador de Consultórios Médicos / Prontuário eletrônico";
}
<style type="text/css">
    .xpto {
        white-space: nowrap;
        background-color: #F8F8F8;
        border: 1px solid #EAEAEA;
        border-radius: 3px 3px 3px 3px;
        margin: 0 2px;
        padding: 0 5px;
        font-family: Consolas,'Liberation Mono',Courier,monospace;
        font-size: 1.1em;
        line-height: 1.6;
        color: #333333;
    }
</style>
<header id="header">
    <div class="showcase">
        <div class="container">
            <h1>Seja bem vindo ao Cerebello!</h1>
            <h2>Sua conta foi criada e está pronta para ser utilizada.</h2>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <h3>Já criei a minha conta, e agora?</h3>
        @if (this.User.Identity.IsAuthenticated)
        {
            <p>
                Obrigado por fazer parte da família Cerebello. Esperamos que você tenha uma ótima experiência com o software. Para começar a utilizar o Cerebello, basta clicar no botão <span class="xpto">Entrar</span> no topo da página.
            </p>
        }
        else
        {
            <p>
                Obrigado por fazer parte da família Cerebello. Esperamos que você tenha uma ótima experiência com o software. Para começar a usar o Cerebello, você deve informar suas credenciais 
                clicando no botão <span class="xpto">Login</span> no topo da página.
            </p>
        }

        <h3>Documentação</h3>
        <p>
            O Cerebello possui uma extensa documentação sobre todos os recursos presentes no software.
            Para acessar a área de documentação clique no botão <span class="xpto">Documentação</span> no topo da página.
        </p>
        
        <h3>Sua opinião é muito importante para nós</h3>
        <p>
            Caso haja algum recurso que seja importante para você mas que não esteja presente no software, por favor acesse a 
            <a href="https://cerebello.uservoice.com">Central de idéias do Cerebello</a> e faça sugestões. Todas as sugestões enviadas são cuidadosamente 
            analizadas. Nosso trabalho é tornar o Cerebello um software melhor para todos, facilitando o cotidiano do seu consultório. Alternativamente, 
            é possível enviar sugestões ou críticas para o nosso e-mail <a href="mailto:cerebello@cerebello.com.br">cerebello@cerebello.com.br</a> ou
            através do chat disponível logo abaixo nesta página.
        </p>

        <h3>Plano Profissional</h3>
        <p>
            Neste momento a sua conta está configurada para o <span class="xpto">Plano de avaliação</span>.
            Você pode usar este plano o tempo que desejar, entretanto, com o limite de 50 pacientes.
        </p>
        <p>
            Para atendê-lo melhor, recomendamos que faça upgrade para o <span class="xpto">Plano profissional</span>.
            Neste plano não existe limitação de pacientes, além de suporte prioritário. Para fazer upgrade a qualquer momento, após efetuar login, acesse o link na barra do topo
            da página ou acesse as configurações da sua conta.
        </p>
        @if (this.User.Identity.IsAuthenticated)
        {
            <p>
                Ou, <a href="@Url.Action("Upgrade", "ConfigAccount", new { area = "App", id = "ProfessionalPlan", practice = this.Request["practice"] })">faça o upgrade para a conta profissional</a> agora mesmo.
            </p>
        }
    </div>
</div>
