@{
    ViewBag.Title = "Cerebello - Gerenciador de Consultórios Médicos";
}
<style type="text/css">
    .xpto
    {
        white-space: nowrap;
        background-color: #F8F8F8;
        border: 1px solid #EAEAEA;
        border-radius: 3px 3px 3px 3px;
        margin: 0 2px;
        padding: 0 5px;
        font-family: Consolas,'Liberation Mono',Courier,monospace;
        font-size: 1.1em;
        line-height: 1.6;
        color: #333333;
    }
</style>
<div class="hero ac">
    <div class="container">
        <h1>Seja bem vindo ao Cerebello!</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>Já criei a minha conta, e agora?</h3>
        <p>
            Para começar a usar o software, basta clicar no botão <span class="xpto">Entrar</span>
            que se encontra no topo da página.
        </p>
        <h3>Documentação</h3>
        <p>
            O Cerebello possui uma extensa documentação sobre todos os recursos presentes no software.
            Para acessar a área de documentação clique no botão <span class="xpto">Documentação</span> no topo da página.
        </p>
        <p>
            Recomendamos que comece com tópicos, que apresentam uma visão mais geral do software, e depois vá aprofundando nos tópicos mais específicos.
            <ul>
                <li><a>Overview</a> - visão geral do software</li>
                <li><a>Médico</a> - visão do médico para o software</li>
                <li><a>Secretária</a> - visão da secretária para o software</li>
                <li><a>Gerenciamento da conta</a> - visão administrativa da conta</li>
            </ul>
        </p>
    </div>
</div>
