@model CerebelloWebRole.Areas.App.Models.DiagnosisViewModel
@using CerebelloWebRole.Code.Extensions
@{
    Layout = null;
}

<li class="edit-list-item">
    @using (Html.BeginCollectionItem("Diagnoses"))
    {
        @Html.LookupFor(m => m.Cid10Code, m => m.Text, Url.Action("lookupdiagnoses"))
    }
    <span class="close-collection-item" onclick="$(this).closest('li').remove()"></span>
</li>

