@{
    ViewBag.Title = "Configurando documentos · Cerebello";
}

<div class="page-header">
    <h2>Configurando documentos</h2>
</div>

<p>
    <span class="thumb right">
        <a href="/Content/Images/Docs/Screenshots/ConfiguringDocuments.png" rel="lightbox" title="Fig 1: Configurando documentos">
            <img src="/Content/Images/Docs/Screenshots/ConfiguringDocuments-thumb.png" />
        </a>
        <span class="description">
            Fig 1: Configurando documentos
        </span>
    </span>
    O Cerebello emite documentos para impressão tanto para atestados médicos quanto para receitas. Antes de começar a utilizá-los, é necessário efetuar
    algumas configurações.
</p>
<p>
    Para acessar as configurações de documentos, na ficha do médico, clique no menu <span class="text-highlight">Configurações de documentos</span> (Fig. 1).
    Somente o próprio médico, administradores ou o proprietário da conta tem permissão de editar as configurações de documentos.
</p>
<p>
    Nesta tela é possível configurar os textos que aparecerão no cabeçalho e no rodapé nos documentos para impressão (atestados e receitas).
    Para salvar as configurações clique em <span class="text-highlight">Salvar configurações de documentos</span>.
</p>
<p>
    <span class="thumb right">
        <a href="/Content/Images/Docs/Screenshots/ConfiguringDocuments2.png" rel="lightbox" title="Fig 2: Resultado">
            <img src="/Content/Images/Docs/Screenshots/ConfiguringDocuments2-thumb.png" />
        </a>
        <span class="description">
            Fig 2: Resultado
        </span>
    </span>
    Após a configuração, as receitas e atestados médicos irão conter essas informações nos cabeçalhos e rodapés (Fig 2).
</p>