@{
    ViewBag.Title = "Configurando documentos · Cerebello";
}

<div class="page-header">
    <h2>Configurando documentos</h2>
</div>

<p>
    O Cerebello emite documentos para impressão tanto para atestados médicos quanto para receitas. Antes de começar a utilizá-los, é necessário efetuar
    algumas configurações.
</p>
<p>
    Para acessar as configurações de documentos, na ficha do médico, clique no menu <span class="text-highlight">Configurações</span> e depois no submenu
    <span class="text-highlight">Configurações de documentos</span>.
</p>
<p>
    Nesta tela é possível configurar os textos que aparecerão no cabeçalho e no rodapé nos documentos para impressão (atestados e receitas).
    Para salvar as configurações clique em <span class="text-highlight">Salvar configurações de documentos</span>.
</p>