@{
    ViewBag.Title = "Consultando a agenda · Cerebello";
}

<div class="page-header">
    <h2>Consultando a agenda</h2>
</div>
<p>
    <span class="thumb right">
        <a href="/Content/Images/Docs/Screenshots/ConsultingTheSchedule.png" rel="lightbox" title="Fig 1: Consultando a agenda">
            <img src="/Content/Images/Docs/Screenshots/ConsultingTheSchedule-thumb.png" />
        </a>
        <span class="description">Fig 1: Consultando a agenda
        </span>
    </span>
    Existem duas formas de consultar a agenda. A primeira é acessando o menu <span class="text-highlight">Agenda</span> na ficha do médico.
</p>
<p>
    Ao acessar o menu <span class="text-highlight">Agenda</span>, a agenda será exibida no modo de exibição <span class="text-highlight">dia</span>, 
    exibindo o dia atual. Se for uma consulta, a agenda exibirá uma caixa azul com nome do paciente e o horário da consulta. Caso seja um compromisso genérico,
    a agenda exibirá uma caixa verde com a descrição do compromisso e o horário.
</p>
<p>
    A agenda possui algumas ferramentas. É possível alterar o modo de exibição para <span class="text-highlight">semana</span>. Neste modo, todas as consultas e
    compromissos da semana atual serão exibidos. O padrão é <span class="text-highlight">dia</span>, onde somente as consultas e compromissos do dia são exibidas.
    É possível navegar, tanto nas semanas ou dias clicando nas setas no canto superior direito da tela. Também é possível navegar no calendário na barra lateral.
    Ao selecionar um dia no calendário, a agenda irá trazer as consultas e compromissos daquele dia ou semana, dependendo do modo de exibição.
</p>
<p>
    <span class="thumb right">
        <a href="/Content/Images/Docs/Screenshots/ConsultingTheSchedule2.png" rel="lightbox" title="Fig 2: Fila de atendimento">
            <img src="/Content/Images/Docs/Screenshots/ConsultingTheSchedule2-thumb.png" />
        </a>
        <span class="description">Fig 2: Fila de atendimento
        </span>
    </span>
    Outra forma de consultar a agenda é na tela de <span class="text-highlight">Início</span> na ficha do médico. Nesta tela, a agenda do dia corrente
    aparece em forma de fila de atendimento. Isto é, as consultas no passado aparecem acinzentadas, as consultas ainda hoje, mas no futuro aparecem em azul, e
    a consulta esperada para estar ocorrendo agora aparece em negrito. A fila de atendimento também mostra o <span class="text-highlight">status</span> da consulta.
    É possível saber, por exemplo, se um paciente agendado para daqui a pouco já chegou ou não. A forma como o Cerebello 
</p>