@{
    ViewBag.Title = "Criando uma conta · Cerebello";
}

<div class="page-header">
    <h2>Criando uma conta</h2>
</div>

<p>
    Para começar a usar o Cerebello, crie uma <a href="@Url.Action("CreateAccount", "Authentication", new { area = ""})">conta de experiência</a>. 
    Somente é necessário que o administrador do consultório crie uma conta no Cerebello. Todos os outros usuários deverão ser criados pelo admnistrador dentro do software. Quando o administrador
    cria uma conta, ele determina o nome do consultório. Neste momento o identificador do consultório é gerado. Por exemplo, se o nome do consultório é "Consultório do João", será gerado o identificador
    <span class="text-highlight">consultoriodojoao</span>, e, a partir daí, existirá uma URL que identificará o consultório dentro do Cerebello.
</p>    
<blockquote>http://www.cerebello.com.br/p/consultoriodojoao</blockquote>
<p>
    O identificador do consultório é importante durante o login, para que o Cerebello possa saber a qual consultório pertence aquele login. Normalmente, para um usuário efetuar login, ele pode
    tanto entrar em <span class="text-highlight">http://www.cerebello.com.br</span> e digitar o identificador ou entrar direto em <span class="text-highlight">http://www.cerebello.com.br/p/consultoriodojoao</span>
    onde o identificador é automaticamente inferido.
</p>
<p>
    No Cerebello, cada usuário possui um ou mais funções. Uma função é um papel que o usuário executa no consultório e consequentemente no software.
    O que cada usuário pode ou não fazer dentro do software é determinado palas funções dele. O usuário que cria uma conta no Cerebello é automaticamente administrador daquele consultório.
    Além disso ele também é proprietário da conta o que faz com que somente ele seja capaz de cancelar ou alterar dados de pagamento. Além de ser administrador
    do consultório, o usuário criador da conta pode optar por ser um médico do consultório, o que é o mais comum. Neste caso ele também tem a função de médico e é necessário
    incluir outras informações como CRM, especialidade e etc.
</p>
<p>
    Uma vez que a conta for criada, o administrador receberá um e-mail de confirmação no qual um link deverá ser clicado. Seguido este passo, a conta está pronta para 
    usar, porém no modo de experiência. Neste modo, todos os recursos estão disponíveis com a exceção de que só é possível cadastrar 50 pacientes. A qualquer momento
    esta conta pode ser migrada para uma conta profissional onde todos os recursos são ilimitados.
</p>