@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h2>Introdução ao Cerebello</h2>
</div>

<p>
    O Cerebello é um software de gestão de consultórios médicos e p com foco no <a href="http://pt.wikipedia.org/wiki/Prontu%C3%A1rio_m%C3%A9dico">prontuário eletrônico</a> e agenda. O Cerbello funciona online, isto é,
    não é necessário nenhum tipo de instalação, nem se preocupar com infra-estrutura de rede, backup, segurança e etc. Todos os dados ficam armazenados com segurança nas núvens, 
    <a href="http://www.windowsazure.com/pt-br/">nos servidores da Microsoft</a>.
</p>

<p>
    O cenário padrão de funcionamento do Cerebello é um consultório que possua pelo menos um médico e uma secretária, ambos com acesso a internet. Quando o médico cria uma conta no Cerebello, é necessário que ele cadastre um usuário para a secretária. A partir deste momento ela pode efetuar login normalmente.
    Uma vez que tanto o médico quanto a secretária estão conectados, eles poderão se comunicar pelo software e trabalhar em conjunto.
</p>
<p>
    Pelo software e os dados serem hosdedados nas núvens, o médico pode acessar informações dos seus pacientes de qualquer lugar.
</p>
<p>
    Quando o médico começa a utilizar o Cerebello é necessário que ele faça algumas configurações que serão explicadas com mais detalhes mais adiante na documentação.
</p>