@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>Introdução ao Cerebello <small> O que você deve saber antes de começar</small></h1>
</div>
O cerebello é um software de gerenciamento para consultórios médicos