@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h2>Cadastrando pacientes</h2>
</div>
<p>
    Pacientes podem ser cadastrados de várias formas: A primeira e mais comum é quando o paciente liga para marcar uma consulta e a secretária descobre
    que ele ainda não foi cadastrado. Nesta caso, basta clicar no link <span class="text-highlight">O paciente ainda não é cadastrado</span> e digitar
    as informações básicas. Este processo foi descrito em <a href="@Url.Action("RegisteringNewAppointments")">Agendando consultas e compromissos</a>.
</p>
<p>
    Também é possível cadastrar um paciente na tela de pacientes. Na ficha do médico, no menu <span class="text-highlight">Prontuário</span> há um submenu
    chamado <span class="text-highlight">Novo paciente</span>. Alternativamente, ainda é possível cadastrar um novo paciente no clicando no botão <span class="text-highlight">Novo</span>
    na barra do tipo e escolhando a opção <span class="text-highlight">Novo paciente</span>.
</p>
<p>
    Ao cadastrar um novo paciente, somente as informações básicas são cadastradas. Neste momento, nenhum dado clínico é preenchido. As secretárias possuem permissão
    de cadastrar pacientes e de visualizar as informações desta tela. Dados clínicos serão adicionados pelo médico durante uma consulta e somente ele próprio
    possui permissão para visualizar estas informações.
</p>
