@model CerebelloWebRole.Areas.App.Models.ExaminationResultViewModel
@{
    Layout = null;
}
<div class="examresult-details medical-appointment-details-panel" data-val-id="examresult-@Model.Id">
    @if (Model != null)
    {
        var cardView = this.Html.CreateCardView();
        cardView.AddField(model => model.MedicalProcedureText, wholeRow: true);
        cardView.AddField(model => model.MedicalProcedureCode, wholeRow: true);
        cardView.AddField(model => model.Text, wholeRow: true);

        @cardView.GetHtml()
    }
    <div class="inline-link-bar">
        <a href="#" class="edit-examresult inline-link">Editar resultado de exame</a>
        <a href="#" class="delete-examresult inline-link">Excluir resultado de exame</a>
    </div>
    <script type="text/javascript">
        $(".edit-examresult", $("div[data-val-id='examresult-@Model.Id']")).click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "@Url.Action("edit", "examresults", new { id = Model.Id })",
                success: function (result) {
                    $("div[data-val-id='examresult-@Model.Id']").replaceWith(result);
                }
            });
        });

        $(".delete-examresult", $("div[data-val-id='examresult-@Model.Id']")).click(function (e) {
            e.preventDefault();
            $.deleteConfirmation({
                objectType: "resultado de exame",
                url: "@Url.Action("delete", new { id = this.Model.Id })",
                success: function (data) {
                    alert("Este resultado de exame foi excluído");
                    window.location = "@Url.Action("details", "patients", new { id = this.Model.PatientId })";
                }
            });
        });

    </script>
</div>
