@model ExaminationResultViewModel
@{
    Layout = null;
}
<div class="examresult-details medical-appointment-details-panel" data-val-id="examresult-@Model.Id">
    @Html.Message("O resultado de exame não existe no sistema. É possível que tenha sido removido.")
</div>
