.edit-panel-wrapper
{
}

.edit-panel-wrapper .title
 {
    color: gray;
    margin: 6px 0;
 }

table.edit-panel
{
    border-collapse: separate;
    padding: 5px 0;
    width: 100%;
}

table.edit-panel > tbody > tr > th
{
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    padding: 13px 10px 0 16px;
    text-align: right;
    vertical-align: top;
    width: 1px;
}

.search-filters table.edit-panel > tbody > tr > th
{
    padding: 8px 10px 0 16px !important;
}

.edit-panel > tbody > tr > th.first
{
    width: 150px;
}

.edit-panel > tbody > tr > td 
{
    margin: 0;
    padding: 6px 0;
    text-align: left;
    vertical-align: top;
}

.edit-panel > tbody > tr
{
    margin: 0;
    padding: 0;
}

.edit-panel select, .edit-panel textarea, .edit-panel input[type=text], .edit-panel input[type=password], .edit-panel .autocomplete, .edit-panel .lookup-tree
{
    max-width: 250px;
    width: 100%;
}

.edit-panel .large select, .edit-panel .large textarea, .edit-panel .large input[type=text], .edit-panel input[type=password], .edit-panel .large .autocomplete, .edit-panel .large .lookup-tree
{
    width: 100%;
    max-width: 350px;
}

.edit-panel .x-large select, .edit-panel .x-large textarea, .edit-panel .x-large input[type=text], .edit-panel .x-large input[type=password], .edit-panel .x-large .autocomplete, .edit-panel .x-large .lookup-tree
{
    width: 100%;
    max-width: 420px;
}


.edit-panel .small select, .edit-panel .small textarea, .edit-panel .small input[type=text], .edit-panel .small input[type=password], .edit-panel .small .autocomplete, .edit-panel .small .lookup-tree
{
    width: 100%;
    max-width: 110px;
}

.edit-panel .required 
{
    margin-left: 3px;
    color: Red;
    cursor: default;
}

.edit-panel td .description
{
    color: #666666;
    font-size: 0.9em;
    padding-top: 4px;
}

/* children */

.edit-panel-wrapper.child-panel-wrapper
{
    display: inline-block;
    margin: 5px 0;
}

.edit-panel.child-panel
{
    display: inline-block;
    padding: 0;
}

.edit-panel.child-panel textarea, .edit-panel.child-panel input[type=text], .edit-panel.child-panel input[type=password], .edit-panel.child-panel .autocomplete
{
    font-size: 14px;
    height: 26px;
    width: 200px;
}

.edit-panel.child-panel .large select, .edit-panel.child-panel .large textarea, .edit-panel.child-panel .large input[type=text], .edit-panel.child-panel .large input[type=password], .edit-panel.child-panel .large .autocomplete
{
    width: 290px;
}

.edit-panel.child-panel .small select, .edit-panel.child-panel .small textarea, .edit-panel.child-panel .small input[type=text], .edit-panel.child-panel .small input[type=password], .edit-panel.child-panel .small .autocomplete
{
    width: 90px;
}

.edit-panel .text-content {
    padding: 7px 0;
}

/* search */

.search-filters .edit-panel 
{
    padding: 0;
}

.search-filters .edit-panel > tbody > tr > td
{
    padding: 0 5px 10px;
}

