.webgrid
 {
     width: 100%;
     border: 0px;
     border-collapse: collapse;
 }
 
 .webgrid-header
 {
    background-color: #F5F5F5;
    font-weight: bold;
 }
 
 .webgrid-header th
 {
    font-weight: bold;
    border-bottom: 1px solid #D7D7D7;
 }
  
 .webgrid-footer
 {
    height: 30px;
    padding: 6px 5px;
    text-align: center;
 }
 
 .webgrid-footer a
 {
    color: #777777;
    padding: 2px;
 }
 
 .webgrid tr td, .webgrid tr th
 {
    padding: 8px;
 }
  
 .webgrid-alternating-row
 {
    background-color: #F5F5F5;
 }
  
 .webgrid-row-style
 {
     
 }
  
 .webgrid-selected-row
 {
     font-weight: bold;
 }