.grid h2 {
    border-bottom: none;
}

.webgrid {
    border: 1px solid #E3E3E3;
    border-collapse: collapse;
    width: 100%;
}

.webgrid-header {
    font-weight: bold;
}

    .webgrid-header th {
        background-color: #EEEEEE;
        border-color: #E3E3E3;
        border-style: solid;
        border-width: 0 0 1px 1px;
    }

.webgrid-footer {
    height: 30px;
    padding: 6px 5px;
    text-align: center;
}

    .webgrid-footer a {
        color: #777777;
        padding: 2px;
    }

    .webgrid-footer td {
        border: none !important;
    }

.webgrid tr td:first-child {
    border-left-width: 0;
}

.webgrid tr td {
    border-color: #E3E3E3;
    border-style: solid;
    border-width: 0 0 1px 1px;
    line-height: 1.2em;
    padding: 10px;
}


.webgrid tr th {
    line-height: 1.2em;
    padding: 5px 10px;
}

.webgrid-selected-row {
    font-weight: bold;
}

.webgrid .action-column {
    width: 1px;
    padding: 0 8px;
}

.webgrid .grid-action-link {
    width: 16px;
    height: 16px;
    display: inline-block;
}

/* a grid cell that supports icon links*/
.icon-link-td {
    white-space: nowrap;
    padding: 0;
}

    .icon-link-td a.cell-icon {
        background-repeat: no-repeat;
        display: inline-block;
        height: 16px;
        margin: 0 8px 0 0;
        padding-left: 22px;
        vertical-align: text-bottom;
        cursor: pointer;
    }
