.patient-info-wrapper {
    overflow: hidden;
}

    .patient-info-wrapper .patient-info-picture {
        float: left;
        text-align: center;
        width: 190px;
    }

        .patient-info-wrapper .patient-info-picture a {
            margin-top: 5px;
            text-align: center;
        }

        .patient-info-wrapper .patient-info-picture img {
            width: 100%;
        }

    .patient-info-wrapper .patient-info-content {
        margin-left: 200px;
    }
