.patient-info-wrapper {
    margin-bottom: 15px;
    overflow: hidden;
}

    .patient-info-wrapper .patient-info-picture {
        float: left;
        text-align: center;
        width: 190px;
    }

        .patient-info-wrapper .patient-info-picture a {
            margin-top: 5px;
            text-align: center;
        }

        .patient-info-wrapper .patient-info-picture img {
            width: 100%;
        }

    .patient-info-wrapper .patient-info-content {
        margin-left: 200px;
    }


/* '.fade' and '.fade.in' styles are REQUIRED for the jQuery-File-Upload to function */
/* If they are not present, the javascript that runs after the animation ends will never be called */
.fade {
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -ms-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    opacity: 0;
}

    .fade.in {
        opacity: 1;
    }

.dropzone {
    margin: 4px;
    overflow: hidden;
}

    .dropzone.in {
        background: #b1cbe9;
        min-height: 5em;
    }

        .dropzone.in > .drophere {
            opacity: 0.9;
        }

            .dropzone.in > .drophere > div > div {
                opacity: 0.55;
            }

    .dropzone.hover {
        background: #599fff;
    }

    .dropzone.fade {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        opacity: 1;
    }

    .dropzone > .drophere {
        height: 0;
        overflow: visible;
        opacity: 0;
        pointer-events: none;
        background-color: inherit;
    }

        .dropzone > .drophere > div {
            font-size: 2em;
            text-align: center;
            padding: 0.8em;
            background-color: inherit;
        }

.fileupload-buttonbar > * {
    margin: 4px;
}

.fileinput-button {
    color: #396497;
    float: none;
    display: inline-block;
    margin: 0;
    overflow: inherit;
}

    .fileinput-button:hover {
        text-decoration: underline;
    }

    .fileinput-button > input {
        height: 1em;
        cursor: pointer;
        border-width: 0;
    }

.preview {
    margin: 10px;
    height: 120px;
    line-height: 1em;
    vertical-align: middle;
}

    .preview > span, .preview > a {
        display: block;
        width: 120px;
        margin: 0 auto;
        vertical-align: middle;
        line-height: 120px;
        text-align: center;
        color: red;
    }

        .preview > span > *, .preview > a > * {
            vertical-align: bottom;
        }

    .preview img {
        max-width: 120px;
        max-height: 120px;
    }

.filebox {
    margin: 6px;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
    width: 160px;
}

    .filebox.selected {
        background-color: #f2f2f2;
    }

    .filebox input.toggle {
        float: left;
    }

    .filebox > .name {
        text-align: center;
        font-size: 11px;
        word-wrap: break-word;
    }

    .filebox > .size {
        text-align: center;
        font-size: 11px;
        white-space: nowrap;
        word-wrap: initial;
    }

    .filebox .btn.delete {
        float: right;
    }

.nowrap {
    white-space: nowrap;
}

.fileupload-progress {
    height: 1em;
}

    .fileupload-progress .progress {
        height: 1em;
        background-color: white;
        width: 100%;
    }

        .fileupload-progress .progress .bar {
            background-color: limegreen;
            height: 1em;
        }

.progress-extended {
    height: 1em;
    white-space: nowrap;
    background-color: transparent;
    overflow: hidden;
    position: absolute;
}

.files .progress {
    height: 1em;
    background-color: white;
    width: 100%;
}

    .files .progress .bar {
        background-color: limegreen;
        height: 1em;
    }

.btn {
    cursor: pointer;
}

.modal-header .close {
    float: right;
    font-size: 30px;
    margin: 8px;
    cursor: pointer;
}

    .modal-header .close:hover {
        text-decoration: none;
    }
