<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CerebelloEntities" connectionString="metadata=res://*/CerebelloEntities.csdl|res://*/CerebelloEntities.ssdl|res://*/CerebelloEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SqlExpress;Initial Catalog=cerebello;Integrated Security=False;MultipleActiveResultSets=True;User Id=andrerpena;Password=Ph4r40hh&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
