@model IEnumerable<Cerebello.Model.Practice>
@{
    Layout = "~/Views/Membership/_LayoutMembership.cshtml";
}
@section Title {
Manage Practices
}
@section Styles {
    <style type="text/css">
        .create-practice
        {
            background-color: #FFFFCC;
            border-bottom: 1px solid #CCCCCC;
            border-top: 1px solid #CCCCCC;
            margin-bottom: 25px;
            padding: 7px;
            text-align: center;
        }
        .create-practice p
        {
            margin: 3px;
            font-size: 0.9em;
        }
        .create-practice a
        {
            font-size: 22px;
            color: #0033CC;
        }
        
        .practice-list
        {
            margin-top: 5px;
        }
        
        .practice-list .title
        {
            font-size: 1.1em;
        }
    </style>
}
@if (Model != null && Model.Count() > 0)
{
    <h2>
        Medical Practices</h2>
    <ul class="practice-list">
        @foreach (var practice in Model)
        {
            <li>
                <a class="title" href="@Url.Action("index", "practicehome", new { area = "App", practice = practice.UrlIdentifier })">@practice.Name</a>
            </li>    
        }
    </ul>
}
else
{
    <div class="create-practice">
        <a href="@Url.Action("Create")">Create your first medical practice</a>
        <p>
            It will only take a few seconds</p>
    </div>
}