@model Cerebello.Areas.App.Models.ScheduleViewModel
@{
    ViewBag.Title = "Index";
}
@section Title {
Agenda
}
@section Styles {
    <link rel="Stylesheet" type="text/css" href="/content/styles/app/fullcalendar.css" />
    <link rel="Stylesheet" type="text/css" href="/content/styles/app/schedule.css" />
}
@section Scripts {
    <script type="text/javascript" src="/Scripts/fullcalendar.min.js"></script>
    <script type="text/javascript">
        function hideBalloon() {
            $(".balloon").hide();
        }

        $(function (e) {
            $('#calendar').fullCalendar({
                header: { left: 'agendaWeek,agendaDay', center: '', right: 'today prev,next' },
                weekends: false,
                defaultView: 'agendaWeek',
                // translation
                dayNames: ['Domingo', 'Segunda-Feira', 'Terça-Feira', 'Quarta-Feira', 'Quinta-Feira', 'Sexta-Feira', 'Sábado'],
                columnFormat: {
                    month: 'ddd',    // Mon
                    week: 'ddd d/M', // Mon 9/7
                    day: 'dddd d/M'  // Monday 9/7
                },
                buttonText: {
                    prev: '&nbsp;&#9668;&nbsp;',  // left triangle
                    next: '&nbsp;&#9658;&nbsp;',  // right triangle
                    prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
                    nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
                    today: 'hoje',
                    month: 'mês',
                    week: 'semana',
                    day: 'dia'
                },
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                allDaySlot: false,
                axisFormat: "HH:mm'h'",
                slotMinutes: 30,
                firstHour: 8,
                minTime: 8,
                maxTime: 21,

                viewDisplay: function() {
                    hideBalloon();
                },
                windowResize: function() {
                    hideBalloon();
                },

                // events
                dayClick: function (date, allDay, jsEvent, view) {
                    var balloon = $(".balloon");

                    balloon.css("display", "block");
                    balloon.css("left", jsEvent.pageX + 30);
                    balloon.css("top", jsEvent.pageY - 30);

                    var dateTimeString = date.format("dd/MM/yyyy - hh:mm'h'");
                    var dateTimeMVCString = date.format("dd/MM/yyyy HH:mm:ss");

                    $(".date", balloon).html(dateTimeString);
                    $("#Date", balloon).val(dateTimeMVCString);
                    $("#DoctorsId", balloon).val(@Model.DoctorId);
                    $("#cancel", balloon).bind("click", function(e) {
                        e.preventDefault();
                        hideBalloon();
                    });
                }
            });
        });
    </script>
}
<div id="calendar">
</div>
@Html.Action("NewAppointmentBalloon", Model)