@model CerebelloWebRole.Areas.App.Models.ReceiptMedicineViewModel
@{
    Layout = null;

    var cardView = this.Html.CreateCardView(true);
    cardView.AddLinkField(model => model.MedicineText, "Details", "Medicines", model => new { id = model.MedicineId}, wholeRow: true);
    cardView.AddField(model => model.Quantity, wholeRow: true);
    cardView.AddField(model => model.Prescription, wholeRow: true);
    cardView.AddField(model => model.Observations, wholeRow: true);
}
<li class="view-list-item">
    @Html.HiddenFor(model => model.Id)
    @cardView.GetHtml()
</li>
