@model ReceiptMedicineViewModel
@using System.Linq.Expressions

@{
    if (!string.IsNullOrWhiteSpace(this.Request["HtmlFieldPrefix"]))
    {
        this.ViewData.TemplateInfo.HtmlFieldPrefix = this.Request["HtmlFieldPrefix"];
    }
    
    this.Layout = null;
    var editPanel = Html.CreateEditPanel();
    editPanel.AddField(
        m => m.MedicineId,
        EditPanelFieldSize.Large,
        @<text>@(Html.AutocompleteGridFor(
            m => m.MedicineId,
            m => m.MedicineText,
            Url.Action("LookupMedication", "Medicines"),
            gm => gm.Id,
            gm => gm.Name,
            new Expression<Func<MedicineLookupGridModel, object>>[] { gm => gm.LaboratoryName },
            this.Url.Action("Create", "Medicines"),
            "Novo medicamento",
            500,
            100
        ))</text>);
    editPanel.AddField(m => m.Quantity, EditPanelFieldSize.Large);
    editPanel.AddField(m => m.Prescription, this.Html.TextAreaFor, EditPanelFieldSize.Large);
    editPanel.AddField(m => m.Observations, this.Html.TextAreaFor, EditPanelFieldSize.Large);
}

@using (HtmlExtensions.BeginCollectionItem(this.Html, "ReceiptMedicines"))
{
    @this.Html.HiddenFor(model => model.Id);
    <div class="edit-list-item-wrapper">
        @editPanel.GetHtml()
    </div>
    <div style="clear: both">
    </div>
}
