<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!-- LOCAL SQL -->
    <add name="DefaultConnection" connectionString="          Data Source=.\SQLEXPRESS;          Initial Catalog=aspnet_97587a4497834efc9aed55876355ac00;          Integrated Security=True;          MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!-- LOCAL SQL -->
    <add name="CerebelloEntities_Local" connectionString="          metadata=res://*/CerebelloEntities.csdl|res://*/CerebelloEntities.ssdl|res://*/CerebelloEntities.msl;          provider=System.Data.SqlClient;          provider connection string=&quot;          Data Source=.\SqlExpress;          Initial Catalog=cerebello;          Integrated Security=True;          MultipleActiveResultSets=True;          &quot;" providerName="System.Data.EntityClient" />
    <!-- AZURE SQL -->
    <add name="CerebelloEntities_Azure" connectionString="          metadata=res://*/CerebelloEntities.csdl|res://*/CerebelloEntities.ssdl|res://*/CerebelloEntities.msl;          provider=System.Data.SqlClient;          provider connection string=&quot;          Server=kurptcva75.database.windows.net,1433;          Database=cerebello2;          User ID=cerebello@cerebello.com.br;          Password=26uj27oP;          Trusted_Connection=False;          Encrypt=True;          Connection Timeout=30;          MultipleActiveResultSets=True;          &quot;" providerName="System.Data.EntityClient" />
    <!-- AZURE STORAGE -->
    <add name="StorageConnectionString_cerebellohq" connectionString="          DefaultEndpointsProtocol=https;          AccountName=cerebellohq;          AccountKey=166josSwlpbPYh05OdB1o8jWDvqTq94nlHXwm593OBOCUIZOvgbwXJqQO7DB/MO2+WHYfrCexrLza/06l7x23w==" />
    <add name="StorageConnectionString_cerebello2" connectionString="          DefaultEndpointsProtocol=https;          AccountName=cerebello2;          AccountKey=DW8oW7HSDj2jQ+uz4p+elMpC6B6/v/WVoJ918PPZiCMOwALIVOIY/AKLd/WvMGdWFi7vlarPvri1eS6KduowKA==" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Services.Client" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>