@model DiagnosisViewModel
@{
    Layout = null;
}
<div class="medical-appointment-details-panel" data-val-id="diagnosis-@Model.Id">
    @if (Model != null)
    {
        var cardView = this.Html.CreateCardView(true);
        cardView.AddField(model => model.Code, header: "Code", wholeRow: true);
        cardView.AddField(model => model.Name, header: "Diagnosis", wholeRow: true);
        cardView.AddField(model => model.StartTime, wholeRow: true);
        cardView.AddField(model => model.EndTime, wholeRow: true);
        cardView.AddField(model => model.Acute, wholeRow: true);
        cardView.AddField(model => model.IsTerminal, wholeRow: true);
        cardView.AddField(model => model.Comments, wholeRow: true);
        @cardView.GetHtml()
    }
    <div class="inline-link-bar">
        <span class="inline-link" onclick="ajaxLoad('@Url.Action("Edit", "Diagnosis", new { id = Model.Id })', 'div[data-val-id=diagnosis-@Model.Id]');">Edit diagnosis</span>
        <span class="inline-link" onclick="deleteConfirmation('diagnosis', '@Url.Action("Delete", "Diagnosis", new { id = Model.Id })');">Remove diagnosis</span>
    </div>
</div>
