<p>
    Você está prestes a cancelar a sua conta de testes.
</p>
<p>
    Como esta é uma conta de testes, todos os dados serão apagados,
    e não será possível reativar a conta, e nem recuperar os dados
    após o cancelamento.
</p>
<p>
    Se você deseja salvar os dados cadastrados durante o uso desta
    conta de testes, marque a opção "enviar dados por e-mail",
    ou então salve os dados de cada médico cadastrado manualmente.
</p>
