<p>
    Você está prestes a cancelar a sua conta de avaliação.
</p>
<p>
    Todos os seus dados serão excluídos.
    É recomendável que você exporte os dados dos pacientes de cada médico e faça backup antes de continuar com o
    cancelamento da conta.
</p>
