<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css' />
<table class="contract-container">
    <tr>
        <td class="complex">
            <p>
                <strong>Serviço prestado:</strong>

                O Cerebello é um software no modelo de serviço na núven,
                prestado através da internet,
                com a função de ajudar no gerênciamento de um consultório médico.
            </p>
            <p>
                Suas funções e características constam de:
                cadastro de dados do consultório e de prontuários de pacientes,
                armazenamento seguro das informações cadastradas,
                segurança de dados sigilosos trafegados pela internet,
                alta disponibilidade,
                funções de comunicação dentro do consultório,
                funções de comunicação entre o consultório e o paciente.
            </p>
        </td>
        <td class="simple">
            <p>
                O Cerebello é um software no modelo de serviço na núven.
            </p>
            <p>
                Os dados são guardados em servidores seguros, e
                trafegados pela internet criptografados.
            </p>
            <p>
                O site é certificado para garantir que seus dados
                não acabem nas mãos de um impostor.
            </p>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
