@model ConfigAccountViewModel
<div class="text-section">
    <h2>Plano de teste do Cerebello</h2>
    <div class="text-description">
        <p>
<<<<<<< HEAD
            O plano de teste do Cerebello permite testar o software,
            sem limite de funcionalidades,
            antes de decidir pela assinatura do serviço,
            portanto não é destinado ao uso profissional.
        </p>
        <p>
            Este plano possui um limite total de <strong>50 pacientes</strong>,
            somando os pacientes de todos os médicos cadastrados.
            Para usar o software profissionalmente e sem este limite,
            faça upgrade para uma conta profissional.
=======
            Sua conta atualmente é uma conta de testes.
        </p>
        <p>
            Este plano, apesar de poder ser utilizado para fins comerciais, possui um limite de <strong>50 pacientes</strong> cadastrados. Para usar o software sem este limite,
            <a href="@Url.Action("Upgrade", new { id = "ProfessionalPlan" })">faça upgrade para uma conta profissional</a>.
>>>>>>> Estilos
        </p>
        <p>
            <a href="@Url.Action("Contract")">Contrato do plano de testes</a>.
        </p>
    </div>
</div>
<div class="text-section">
    <h2>Opções do plano</h2>
    <div class="option option-upgrade">
        <div class="upgrade-icon"></div>
        <div class="option-text">
            <span class="option-title">Upgrade para plano profissional:</span>
<<<<<<< HEAD
            Plano do Cerebello que pode ser usado profissionalmente, e sem os limites da conta de teste.
            Além disso a conta profissional possui suporte prioritário, e maior segurança dos dados.
=======
            A conta profissional não possui limites de pacientes e o suporte é prioritário.
        </div>
        <div class="button-wrapper">
            <a class="link-button" href="@Url.Action("Upgrade", new { id = "ProfessionalPlan" })">Fazer upgrade para uma conta profissional</a>
>>>>>>> Estilos
        </div>
    </div>
    <div class="option option-cancel">
        <div class="cancel-icon"></div>
        <div class="option-text">
            <span class="option-title">Cancelamento:</span>
<<<<<<< HEAD
            O cancelamento da conta de teste pode ser feito a qualquer momento.
            Como essa é uma conta de teste, todos os dados serão apagados do sistema,
            não sendo possível reativar a mesma, e nem fazer download dos dados após o cancelamento.
=======
            Todos os dados serão apagados do sistema. Não é possível reativar a conta nem fazer download dos dados e arquivos dos pacientes após o 
            cancelamento.
        </div>
        <div class="button-wrapper">
            <a class="link-button" href="@Url.Action("Cancel")">Cancelar a conta trial</a>
>>>>>>> Estilos
        </div>
    </div>
</div>
