@model CerebelloWebRole.Areas.App.Models.ConfigAccountViewModel
<div class="widget">
    <p class="title">Plano de teste do Cerebello</p>
    <div class="text-description">
        <p>
            O plano de teste do Cerebello permite testar o software,
            sem limite de funcionalidades,
            antes de decidir pela assinatura do serviço,
            portanto não é destinado ao uso profissional.
        </p>
        <p>
            Este plano possui um limite total de <strong>50 pacientes</strong>,
            somando os pacientes de todos os médicos cadastrados.
            Para usar o software profissionalmente e sem este limite,
            faça upgrade para uma conta profissional.
        </p>
        <p>
            <a href="@Url.Action("Contract")">Contrato do plano de testes</a>
        </p>
    </div>

    <p class="title">Opções do plano</p>
    <div class="option option-upgrade">
        <div>
            <span class="option-title">Upgrade para plano profissional:</span>
            Plano do Cerebello que pode ser usado profissionalmente, e sem os limites da conta de teste.
            Além disso a conta profissional possui suporte prioritário, e maior segurança dos dados.
        </div>
        <a class="button" href="@Url.Action("Upgrade", new { id = "ProfessionalPlan" })">Fazer upgrade</a>
    </div>
    <div class="option option-cancel">
        <div>
            <span class="option-title">Cancelamento:</span>
            O cancelamento da conta de teste pode ser feito a qualquer momento.
            Como essa é uma conta de teste, todos os dados serão apagados do sistema,
            não sendo possível reativar a mesma, e nem fazer download dos dados após o cancelamento.
        </div>
        <a class="button" href="@Url.Action("Cancel")">Cancelar</a>
    </div>
</div>
