@model ConfigAccountViewModel
<div class="text-section">
    <h2>Plano de avaliação do Cerebello</h2>
    <div class="text-description">
        <p>Sua conta atualmente está no plano de avaliação.</p>
        <p>
            O plano de avaliação do Cerebello permite testar o software,
            sem limite de funcionalidades,
            antes de decidir pela assinatura do serviço. A conta de avaliação não é destinada ao uso profissional.
        </p>
        <p>
            Este plano possui um limite de <strong>50 pacientes</strong> cadastrados, somando os pacientes de todos os médicos. Para usar o software sem este limite, por favor 
            <a href="@Url.Action("Upgrade", new { id = "ProfessionalPlan" })">faça upgrade para uma conta profissional</a>.
        </p>
        <p>
            <a href="@Url.Action("Contract")">Contrato do plano de avaliação</a>.
        </p>
    </div>
</div>
<div class="text-section">
    <h2>Opções do plano</h2>
    <div class="option option-upgrade">
        <div class="upgrade-icon"></div>
        <div class="option-text">
            <span class="option-title">Upgrade para plano profissional:</span>
            O plano profissional não possui limites de pacientes e o suporte é prioritário. Ao fazer upgrade, os dados previamente cadastrados são mantidos.
        </div>
        <div class="button-wrapper">
            <a class="link-button" href="@Url.Action("Upgrade", new { id = "ProfessionalPlan" })">Fazer upgrade para o plano profissional</a>
        </div>
    </div>
    <div class="option option-cancel">
        <div class="cancel-icon"></div>
        <div class="option-text">
            <span class="option-title">Cancelamento:</span>
            Todos os dados serão apagados do sistema. Não é possível reativar a conta nem fazer download dos dados e arquivos dos pacientes após o 
            cancelamento. É altamente recomendável seja efetuado backup dos dados e arquivos dos pacientes antes de continuar
            com o cancelamento.
        </div>
        <div class="button-wrapper">
            <a class="link-button" href="@Url.Action("Cancel")">Cancelar a conta de avaliação</a>
        </div>
    </div>
</div>
