.document 
{
    background: #FFFFFF;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    margin: 0px 7px 7px 0px;
    box-shadow: 3px 3px 4px #BBBBBB;
}

.document .document-header
{
    background: #F0F1E8;
    margin: 0 0 5px;
    padding: 13px 30px 13px 24px;
    font-weight: bold;
    border-bottom: 1px solid #D6D6D6;
}

.document .document-body 
{
    padding: 15px 28px 20px 23px;
}

fieldset
{
    padding: 0 0 5px 0px;
    margin-bottom: 20px;
}

fieldset.top
{
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-right: medium none;
    border-style: solid none none;
    border-width: 1px medium medium;
    padding-top: 40px;
    padding-top: 1em;
}

fieldset.top legend
{
    color: #000000;
    font-weight: bold;
    padding: 7px;
    font-size: 0.9em;
}

fieldset.top-less
{
    
}

fieldset legend.top-less
{
    
}

.editor-label 
{
    margin-top:5px;
}


.editor-field 
{
    margin: 5px 0px 15px 0px;
}

.editor-field > input
{
    font-size: 18px;
    padding: 3px;
    width: 200px;
}

.editor-field.large > input
{
    width:300px;
}

.editor-field > select
{
    font-size: 18px;
    padding: 3px;
    width: 208px;
}

.editor-field.large > input
{
    width:308px;
}

p.numbered-header-1
{
    color: #376D00;
    margin: 0 0 10px -10px;
    padding: 8px 0 8px 36px;
    background: url("/Content/Images/step-1.png") no-repeat left;
}

p.numbered-header-2
{
    color: #376D00;
    margin: 0 0 10px -10px;
    padding: 8px 0 8px 36px;
    background: url("/Content/Images/step-2.png") no-repeat left;
}