.side-column .title
{
    margin: 0px;
    padding: 10px 0px;
    border-bottom: 1px dotted #cccccc;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}

.side-column .box 
{
    padding: 10px 0px;
    border-bottom: 1px dotted #cccccc;
    text-align: center;
    color: #666666;
}

.side-column .box p 
{
    margin: 0;
}

.side-column .box .box-title
{
    color: black;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 0.2em;
}

.box-alert {
    background-color: #FFFFCC;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 5px;
    line-height: 1.4em;
    font-size: 0.9em;
}