@model ConfigBackupViewModel

@{
    ViewBag.Title = "Configurações de backup";
}

@section Title {
    @ViewBag.Title
}

@section Styles {
    <style type="text/css">
        .status-disabled {
            background-color: #FFFFE6;
            border: 1px solid rgba(0, 0, 0, 0.05);
            color: #DD390D;
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 10px;
            margin-top: 0;
            padding: 10px;
        }

        .status-enabled {
            background-color: #E6F9E8;
            border: 1px solid rgba(0, 0, 0, 0.05);
            color: #035402;
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 10px;
            margin-top: 0;
            padding: 10px;
        }

        .link-button.associate {
            color: darkgreen;
        }

        .link-button.desassociate {
            color: darkred;
        }
    </style>
}


@if (this.Model.DropboxAssociated)
{
    <p class="status-enabled">Status: <span class="status">Habilitado</span> <br />Conta Dropbox: @this.Model.DropboxEmail</p>
    <p>
        O backup automatico está habilitado. Todos os dados dos seus pacientes estão automaticamente sendo sincronizados com a pasta
        <b>/Aplicativos/Cerebello</b> do seu Dropbox e acessíveis de qualquer dispositivo (computador pessoal, tablets e smartphones).
    </p>
    <a href="@Url.Action("DesassociateDropbox")" class="link-button desassociate" >Desassociar com o Dropbox e desabilitar backup automático</a>
}
else
{
    <p class="status-disabled">Status: <span class="status">Desabilitado</span></p>
    <p>
        O backup automático está desabilitado. Para habilitá-lo é necessário que você possua uma conta no <a href="https://www.dropbox.com" target="_blank">Dropbox</a>.
        O Dropbox é um serviço gratúito de hospedagem e sincronia de arquivos entre dispositivos (computador pessoal, tablets e smartphones). Após criar sua conta, é necessário
        associá-la ao Cerebello clicando no botão abaixo. Após a associação estiver concluída, o Cerebello irá sincronizar todos os dados dos seus pacientes automaticamente, o que inclui
        a foto de perfil, dados históricos em PDF e XML e todos os arquivos enviados para a ficha do paciente. Esses dados estarão disponíveis em todos os dispositivos
        vinculados à sua conta do Dropbox. A sincronia é feita de hora em hora.
    </p>
    <a href="@this.Model.DropboxAuthorizationUrl" class="link-button associate" >Associar com o Dropbox e habilitar backup automático</a>
}
