<?xml version="1.0"?>
<configuration>
  <appSettings file="Uncommited.config">
  </appSettings>
  <connectionStrings>

    <add name="Local database" connectionString="
        metadata=res://*/CerebelloEntities.csdl|res://*/CerebelloEntities.ssdl|res://*/CerebelloEntities.msl;
        provider=System.Data.SqlClient;
        provider connection string=&quot;
          Data Source=.\SqlExpress;
          Initial Catalog=cerebello;
          Integrated Security=True;
          MultipleActiveResultSets=True;
        &quot;" providerName="System.Data.EntityClient"/>

    <add name="Local test database" connectionString="
        metadata=res://*/CerebelloEntities.csdl|res://*/CerebelloEntities.ssdl|res://*/CerebelloEntities.msl;
        provider=System.Data.SqlClient;
        provider connection string=&quot;
          Data Source=.\SqlExpress;
          Initial Catalog=cerebelloTEST;
          Integrated Security=True;
          MultipleActiveResultSets=True;
        &quot;" providerName="System.Data.EntityClient"/>

    <add name="Azure database" connectionString="
        metadata=res://*/CerebelloEntities.csdl|res://*/CerebelloEntities.ssdl|res://*/CerebelloEntities.msl;
        provider=System.Data.SqlClient;
        provider connection string=&quot;
          Server=kurptcva75.database.windows.net,1433;
          Database=cerebellohq;
          User ID=cerebello@cerebello.com.br;
          Password=26uj27oP;
          Trusted_Connection=False;
          Encrypt=True;
          Connection Timeout=30;
          MultipleActiveResultSets=True;
        &quot;" providerName="System.Data.EntityClient"/>

    <add name="Azure database (old)" connectionString="
        metadata=res://*/CerebelloEntities.csdl|res://*/CerebelloEntities.ssdl|res://*/CerebelloEntities.msl;
        provider=System.Data.SqlClient;
        provider connection string=&quot;
          Server=tcp:kurptcva75.database.windows.net,1433;
          Database=cerebellohq;
          User ID=cerebello;
          Password=26uj27oP;
          Trusted_Connection=False;
          Encrypt=True;
          Connection Timeout=30;
        &quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
