<?xml version="1.0" encoding="utf-8"?><firestarter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><formSendEmail><emailModels><emailModel name="Avaliação de satisfação"><title>Cerebello: Avaliação de satisfação</title><textContent>{{{"Prezado","Prezada"}[ObjectData.Person.Gender]}} {{ObjectData.Person.FullName}},&#xD;
&#xD;
O Cerebello é um software construido com base na comunicação com o cliente, buscando sempre facilitar e melhorar a rotina de trabalho nos mais variados aspectos.&#xD;
&#xD;
Como forma de melhorar os nossos serviços, buscamos manter contato com o cliente, e saber sobre sua experiência com o Cerebello. Sinta-se a vontade para responder este e-mail, a seu próprio critério, com comentários, opiniões, críticas, e também para esclarecer qualquer dúvida que venha a surgir.&#xD;
&#xD;
Obrigado por experimentar o Cerebello!&#xD;
{{Constants.OperatorName}} - equipe CareSys Tecnologias de Informação Limitada</textContent><htmlContent /></emailModel><emailModel name="Confirme a criação de sua conta"><title>Cerebello: Confirme a criação de sua conta</title><textContent>E-mail de confirmação&#xD;
=====================&#xD;
&#xD;
Olá {{ObjectData.Person.FullName}},&#xD;
&#xD;
Este e-mail está sendo enviado para&#xD;
confirmar sua solicitação de criação&#xD;
de uma nova conta no cerebello.com.br,&#xD;
o seu software de gerenciamento de&#xD;
consultório.&#xD;
&#xD;
Concluindo a criação da conta&#xD;
-----------------------------&#xD;
&#xD;
Para completar a criação de sua conta você deve&#xD;
confirmar o recebimento desta mensagem.&#xD;
Isso pode ser feito visitando o seguinte link:&#xD;
&#xD;
{{BaseUrl}}/Authentication/VerifyPracticeAndEmail?Token={{CreateAccountToken}}&amp;RememberMe=False&amp;PracticeIdentifier={{ObjectData.Practice.UrlIdentifier}}&#xD;
&#xD;
Suas credenciais&#xD;
----------------&#xD;
&#xD;
O identificador do seu consultório é&#xD;
"{{ObjectData.Practice.UrlIdentifier}}"&#xD;
(sem as aspas duplas).&#xD;
&#xD;
Esse identificador, assim como o seu nome de&#xD;
usuário e senha são necessários para entrar no&#xD;
sistema.&#xD;
&#xD;
Você pode entrar informando suas credenciais&#xD;
na página de Login&#xD;
{{BaseUrl}}/Authentication/Login,&#xD;
ou acessando diretamente a url&#xD;
{{BaseUrl}}/p/{{ObjectData.Practice.UrlIdentifier}}&#xD;
&#xD;
Observações&#xD;
-----------&#xD;
&#xD;
Caso a URL de confirmação não funcione, tente&#xD;
entrar com o token de confirmação manualmente em:&#xD;
{{BaseUrl}}/Authentication/VerifyPracticeAndEmail?RememberMe=False&#xD;
com o token: "{{CreateAccountToken}}"&#xD;
(sem as aspas duplas).&#xD;
&#xD;
**ATENÇÃO:** Se a verificação não ocorrer em até 30&#xD;
dias, o processo de cadastro será cancelado.&#xD;
&#xD;
Se você não requisitou a criação de uma&#xD;
conta, ignore este e-mail e nos desculpe pela&#xD;
inconveniência.&#xD;
&#xD;
Atenciosamente&#xD;
    equipe CareSys Tecnologias de Informação</textContent><htmlContent>&lt;html&gt;&#xD;
&lt;head&gt;&#xD;
    &lt;title&gt;Cerebello: Confirme a cria&amp;#231;&amp;#227;o de sua conta&lt;/title&gt;&#xD;
    &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /&gt;&#xD;
        &lt;style type="text/css"&gt;&#xD;
            /* GMAIL style (only when local presentation) */&#xD;
            /* Style tags have no effect in e-mails */&#xD;
            body {&#xD;
                font-size: 13px;&#xD;
                font-family: arial, sans-serif;&#xD;
                color: #222;&#xD;
                background: white;&#xD;
            }&#xD;
        &lt;/style&gt;&#xD;
&lt;/head&gt;&#xD;
&lt;body&gt;&#xD;
    &lt;div style="&#xD;
            color: #222222;&#xD;
            background: white;&#xD;
            width: 100%;&#xD;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;&#xD;
            font-size: 14px;&#xD;
            line-height: 20px;"&gt;&#xD;
&#xD;
        &lt;div style="height: 20px"&gt;&lt;/div&gt;&#xD;
        &lt;center&gt;&#xD;
            &lt;table style="font-size: 1em; border-collapse: collapse; border: 1px solid #D6D6D6; background-color: white; width: 450px;" bgcolor="white" width="450" cellpadding="0" border="0" cellspacing="0"&gt;&#xD;
                &lt;tr&gt;&#xD;
                    &lt;td&gt;&#xD;
                        &lt;table style="font-size: 1em;  border-collapse: collapse; background-color: #EEEEEE; width: 100%;" bgcolor="#EEEEEE" width="450" cellpadding="0" border="0" cellspacing="0"&gt;&#xD;
                            &lt;tr&gt;&#xD;
                                &lt;td style="width: 18px"&gt;&lt;/td&gt;&lt;td style="padding-top: 6px; padding-bottom: 6px;"&gt;&#xD;
                                    &lt;h1 style="color: #555555; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 #FFFFFF; line-height: 2em; font-weight: bold; text-rendering: optimizelegibility;"&gt;&#xD;
                                        Confirma&amp;#231;&amp;#227;o de e-mail&#xD;
                                    &lt;/h1&gt;&#xD;
                                &lt;/td&gt;&lt;td align="right"&gt;&#xD;
                                    &lt;a style="white-space: nowrap; text-decoration: none;" href="{{BaseUrl}}/"&gt;Cerebello&lt;/a&gt;&#xD;
                                &lt;/td&gt;&lt;td style="width: 18px"&gt;&lt;/td&gt;&#xD;
                            &lt;/tr&gt;&#xD;
                        &lt;/table&gt;&#xD;
                    &lt;/td&gt;&#xD;
                &lt;/tr&gt;&#xD;
                &lt;tr&gt;&#xD;
                    &lt;td&gt;&#xD;
                        &lt;table style="font-size: 1em; border-collapse: collapse; background-color: white; color: #333333;" cellpadding="0" border="0" cellspacing="0"&gt;&#xD;
                            &lt;tr&gt;&#xD;
                                &lt;td style="width: 30px; line-height: 1.5em; overflow: hidden;"&gt;&lt;/td&gt;&lt;td style="width: 390px; padding-top: 20px; padding-bottom: 20px;"&gt;&#xD;
                                    &lt;font color="#333333"&gt;&#xD;
                                            &lt;p&gt;&#xD;
        Olá &lt;strong&gt;{{ObjectData.Person.FullName}}&lt;/strong&gt;,&#xD;
    &lt;/p&gt;&#xD;
    &lt;p&gt;&#xD;
        Este e-mail está sendo enviado para confirmar sua solicitação de criação de uma&#xD;
        nova conta no &lt;a style="white-space: nowrap; text-decoration: none;" href="{{BaseUrl}}/"&gt;Cerebello&lt;/a&gt;,&#xD;
        o seu software de gerenciamento de consultório.&#xD;
    &lt;/p&gt;&#xD;
    &lt;h2 style="&#xD;
        font-size: 1.1em;&#xD;
        border-bottom: 1px solid #D7D7D7;&#xD;
        font-weight: bold;&#xD;
        margin-bottom: 8px;&#xD;
        padding: 2px 0;&#xD;
        vertical-align: baseline;"&gt;&#xD;
        Concluindo a cria&amp;#231;&amp;#227;o da conta&#xD;
    &lt;/h2&gt;&#xD;
    &lt;p&gt;&#xD;
        Para completar a criação de sua conta você deve confirmar o recebimento desta mensagem.&#xD;
        Isso pode ser feito visitando o seguinte link:&#xD;
    &lt;/p&gt;&#xD;
    &lt;p&gt;&#xD;
        &lt;a style="white-space: nowrap; text-decoration: none;" href="{{BaseUrl}}/Authentication/VerifyPracticeAndEmail?Token={{CreateAccountToken}}&amp;amp;RememberMe=False&amp;amp;PracticeIdentifier={{ObjectData.Practice.UrlIdentifier}}"&gt;Confirmar meu e-mail e ativar a minha conta&lt;/a&gt;&#xD;
    &lt;/p&gt;&#xD;
    &lt;h2 style="&#xD;
        font-size: 1.1em;&#xD;
        border-bottom: 1px solid #D7D7D7;&#xD;
        font-weight: bold;&#xD;
        margin-bottom: 8px;&#xD;
        padding: 2px 0;&#xD;
        vertical-align: baseline;"&gt;&#xD;
        Suas credenciais&#xD;
    &lt;/h2&gt;&#xD;
    &lt;p&gt;&#xD;
        O identificador do seu consultório é&#xD;
    &lt;/p&gt;&#xD;
    &lt;center&gt;&lt;code style="&#xD;
    white-space: nowrap;&#xD;
    background-color: #F8F8F8;&#xD;
    border: 1px solid #EAEAEA;&#xD;
    border-radius: 3px 3px 3px 3px;&#xD;
    margin: 0 2px;&#xD;
    padding: 0 5px;&#xD;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;&#xD;
    font-size: 1.5em;&#xD;
    font-weight: bold;&#xD;
    line-height: 1.6;&#xD;
    color: #333333;"&gt;&#xD;
     {{ObjectData.Practice.UrlIdentifier}}&#xD;
 &lt;/code&gt;&lt;/center&gt;&#xD;
    &lt;p&gt;&#xD;
        Esse identificador, assim como o seu nome de usuário e senha são necessários para entrar no sistema.&#xD;
    &lt;/p&gt;&#xD;
    &lt;p&gt;&#xD;
        Você pode entrar informando suas credenciais na página de&#xD;
        &lt;a style="white-space: nowrap; text-decoration: none;" href="{{BaseUrl}}/Authentication/Login"&gt;Login&lt;/a&gt;,&#xD;
        ou acessando diretamente a url&#xD;
        &lt;a style="white-space: nowrap; text-decoration: none;" href="{{BaseUrl}}/p/{{ObjectData.Practice.UrlIdentifier}}"&gt;{{BaseUrl}}/p/{{ObjectData.Practice.UrlIdentifier}}&lt;/a&gt;&#xD;
    &lt;/p&gt;&#xD;
    &lt;h2 style="&#xD;
        font-size: 1.1em;&#xD;
        border-bottom: 1px solid #D7D7D7;&#xD;
        font-weight: bold;&#xD;
        margin-bottom: 8px;&#xD;
        padding: 2px 0;&#xD;
        vertical-align: baseline;"&gt;&#xD;
        Esqueci o nome de usu&amp;#225;rio ou a senha&#xD;
    &lt;/h2&gt;&#xD;
    &lt;p&gt;&#xD;
        Se você esquecer essas informações, entre em contato conosco.&#xD;
        Só assim será possível recomeçar o cadastro de sua conta.&#xD;
    &lt;/p&gt;&#xD;
    &lt;h2 style="&#xD;
        font-size: 1.1em;&#xD;
        border-bottom: 1px solid #D7D7D7;&#xD;
        font-weight: bold;&#xD;
        margin-bottom: 8px;&#xD;
        padding: 2px 0;&#xD;
        vertical-align: baseline;"&gt;&#xD;
        Observa&amp;#231;&amp;#245;es&#xD;
    &lt;/h2&gt;&#xD;
    &lt;p&gt;&#xD;
        Caso o link de confirmação não funcione, tente&#xD;
        &lt;a style="white-space: nowrap; text-decoration: none;" href="{{BaseUrl}}/Authentication/VerifyPracticeAndEmail?RememberMe=False"&gt;entrar com o token de confirma&amp;#231;&amp;#227;o manualmente&lt;/a&gt;.&#xD;
        O seu token é: &lt;code style="&#xD;
    white-space: nowrap;&#xD;
    background-color: #F8F8F8;&#xD;
    border: 1px solid #EAEAEA;&#xD;
    border-radius: 3px 3px 3px 3px;&#xD;
    margin: 0 2px;&#xD;
    padding: 0 5px;&#xD;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;&#xD;
    font-size: 1.1em;&#xD;
    line-height: 1.6;&#xD;
    color: #333333;"&gt;&#xD;
     {{CreateAccountToken}}&#xD;
 &lt;/code&gt;&#xD;
    &lt;/p&gt;&#xD;
    &lt;div style="&#xD;
        color: #b94a48;&#xD;
        background-color: #f2dede;&#xD;
        padding: 8px 35px 8px 14px;&#xD;
        margin-bottom: 20px;&#xD;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);&#xD;
        border: 1px solid #eed3d7;&#xD;
        -webkit-border-radius: 4px;&#xD;
        -moz-border-radius: 4px;&#xD;
        border-radius: 4px;&#xD;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;&#xD;
        font-size: 1.0em;&#xD;
        line-height: 1.5em;"&gt;&#xD;
            &#xD;
    &lt;p&gt;&#xD;
        &lt;span style="color: DarkRed"&gt;ATENÇÃO: &lt;/span&gt;Se a verificação não ocorrer em até 30&#xD;
        dias, o processo de cadastro será cancelado. Você pode fazer o cadastro novamente&#xD;
        caso isso aconteça.&#xD;
    &lt;/p&gt;&#xD;
    &#xD;
    &lt;/div&gt;&#xD;
    &lt;p&gt;&#xD;
        Se você não requisitou a criação de uma&#xD;
        conta, ignore este e-mail e nos desculpe pela&#xD;
        inconveniência.&#xD;
    &lt;/p&gt;&#xD;
    &lt;p&gt;&#xD;
        Atenciosamente&lt;br /&gt;&#xD;
        &lt;em style="margin-right: 2em; display: inline-block;"&gt;equipe CareSys Tecnologias de Informa&amp;#231;&amp;#227;o&lt;/em&gt;&#xD;
    &lt;/p&gt;&#xD;
&#xD;
                                    &lt;/font&gt;&#xD;
                                &lt;/td&gt;&lt;td style="width: 30px"&gt;&lt;/td&gt;&#xD;
                            &lt;/tr&gt;&#xD;
                        &lt;/table&gt;&#xD;
                    &lt;/td&gt;&#xD;
                &lt;/tr&gt;&#xD;
            &lt;/table&gt;&#xD;
            &#xD;
        &lt;/center&gt;&#xD;
&#xD;
    &lt;/div&gt;&#xD;
&lt;/body&gt;&#xD;
&lt;/html&gt;</htmlContent></emailModel><emailModel name="Oferta de suporte"><title>Cerebello: Dificuldades em usar o sistema?</title><textContent>Prezada {{ObjectData.Person.FullName}},&#xD;
&#xD;
Em caso de dúvidas ou dificuldades na utilização do sistema,&#xD;
sinta-se a vontade para entrar em contato pelo e-mail:&#xD;
cerebello@cerebello.com.br&#xD;
&#xD;
Estamos disponíveis também via chat, diretamente de nossa página na internet:&#xD;
https:\\www.cerebello.com.br&#xD;
&#xD;
{{Constants.OperatorName}} - equipe CareSys Tecnologias de Informação Limitada</textContent><htmlContent /></emailModel></emailModels></formSendEmail></firestarter>