@{
    
}
@section DocumentTitle {
Parabéns. Você está a um passo de ter acesso a todos os recursos do Cerebello.
}
@section DocumentBody {
    <p>
        Para concluir o cadastro e liberar o acesso à sua conta de demonstração, por favor,
        <strong>acesse o e-mail informado no cadastro e click no link de ativação de cadastro</strong>.
    </p>
    <p>
        Muito obrigado por escolher o Cerebello. Nossa equipe estará sempre à disposição
        para críticas, sugestões e para solucionar qualquer problema. Mais informações sobre
        suporte você encontra em <a href="#">www.cerebello.com.br/suporte</a>.
    </p>
    <p class="document-inner-title">
        Ok, eu tenho uma conta Cerebello. E agora?</p>
    <p>
        Agora o mais importante é aprender a usar o software. Mas não se preocupe, o sistema
        é simples e a documentação é completa e didática. A primeira coisa que você deve
        saber é que toda a documentação do Cerebello está disponível em <a href="#">www.cerebello.com.br/docs</a>.
        Lá você encontrará todos os textos e vídeos disponíveis, bem como perguntas frequentes
        e outras informações.
    </p>
    <p>
        Para começar, é recomendável que você leia o artigo <a href="#">Introdução ao Cerebello</a>.
    </p>
    <p>
        E não se esqueça, nós temos uma equipe anciosa por ajudar você sobre qualquer coisa
        que você precise. Mais informações sobre o suporte você encontra <a href="#">aqui</a>.
        Obrigado novamente por escolher o Cerebello.
    </p>
}
@section SideBar {
    <div class="title">
        Agora que você tem uma conta Cerebello
    </div>
    <div class="box">
        <p class="box-title">
            Documentação
        </p>
        <p>
            <a href="#">www.cerebello.com.br/docs</a>
        </p>
    </div>
    <div class="box">
        <p class="box-title">
            Suporte
        </p>
        <p>
            <a href="#">www.cerebello.com.br/suporte</a>
        </p>
    </div>
}
