@model CerebelloWebRole.Areas.App.Models.ModelMedicalCertificatesIndexViewModel
@{
    ViewBag.Title = "Index";
    ViewBag.Watermark = "Pesquisar pelo nome do atestado";

    var grid = this.Html.CreateGrid(this.Model.Objects, CerebelloWebRole.Code.Constants.GRID_PAGE_SIZE);
    grid.AddField(model => model.Name);
}
@section Title {
    Modelos de atestado médico
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("create")" class="icon-link icon-link-plus">Novo modelo de atestado</a> </li>
    </ul>
}

@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}

<div class="widget">
    <p class="title">
        Últimos modelos de atestado cadastrados cadastrados
    </p>
    @grid.GetHtml()
</div>