@model ModelMedicalCertificatesIndexViewModel
@using CerebelloWebRole.Areas.App.Models
@using CerebelloWebRole.Code
@{
    var title =
        this.ViewBag.IsFiltered == true
            ? "Busca por modelos de atestado médico"
            : "Modelos de atestado médico";

    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
    this.ViewBag.Watermark = "Pesquisar pelo nome do atestado";

    var grid = this.Html.CreateGrid(this.Model.Objects);
    grid.AddLinkField(m => m.Name, "Details", m => new { id = m.Id });
    grid.AddEditField("Edit", "ModelMedicalCertificates", model => new { model.Id });
}
@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockAccessType.SelfOrAdminOrOwner, "médico"))
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Create")" class="icon-link icon-link-plus">Novo modelo de atestado</a> </li>
        <li><a class="icon-link icon-link-home" href="@Url.Action("Index", "Config")">Resumo de configurações</a></li>
    </ul>
}

<div class="widget">
    <h2>Modelos de atestado médico
    </h2>
    @grid.GetHtml()
</div>
