@model CerebelloWebRole.Areas.App.Models.PasswordViewModel
@using CerebelloWebRole.Areas.App.Models
@using CerebelloWebRole.Code.Extensions
@{
    string title = this.ViewBag.IsDefaultPassword != true ? "Alterar senha" : "Definir senha";
    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
    Layout = "~/Areas/App/Views/Shared/_LayoutPractice.cshtml";

    var editPanel = this.Html.CreateEditPanel();

    if (this.ViewBag.IsDefaultPassword != true)
    {
        editPanel.AddField(m => m.OldPassword);
    }

    editPanel.AddField(m => m.Password);
    editPanel.AddField(m => m.RepeatPassword);
}

@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockScriptType.AdminOrOwner))
}

@section SideBar {
    @if (this.ViewBag.IsDefaultPassword != true)
    {
        <a href="@Url.Action("Index")" class="icon-link icon-link-home">Resumo de usuários</a>
    }
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)

    if (this.ViewBag.IsDefaultPassword == true)
    {
    <div class="message-warning">
        <p>
            Antes de utilizar o software, você deve configurar a sua senha de acesso.
        </p>
        <p>
            A senha deve ser mantida em segredo, pois todas as atividades realizadas
        utilizando o seu usuário, serão cadastradas como sendo de sua responsabilidade.
        </p>
        <p>
            Quando for se afastar do computador, tome as devidas precauções. Se necessário use
        a opção "Sair", para que outras pessoas não autorizadas tenham acesso ao seu usuário.
        </p>
    </div>
    }
    
    @editPanel.GetHtml()

    <div class="submit-bar">
        <input type="submit" value="salvar senha" />
        @if (this.ViewBag.IsDefaultPassword != true)
        {
            <span class="separator">ou</span>
            Html.ActionLink("cancelar", "Index");
        }
    </div>
}