@model CerebelloWebRole.Areas.App.Models.PasswordViewModel
@using CerebelloWebRole.Code.Extensions
@{
    ViewBag.Title = "Change password";
    Layout = "~/Areas/App/Views/Shared/_LayoutPractice.cshtml";

    var editPanel = this.Html.CreateEditPanel();

    if (this.ViewBag.IsDefaultPassword != true)
    {
        editPanel.AddField(m => m.OldPassword);
    }

    editPanel.AddField(m => m.Password);
    editPanel.AddField(m => m.RepeatPassword);
}

@section Title {
    @if (this.ViewBag.IsDefaultPassword != true)
    {
        <text>Alterar senha</text>
    }
    else
    { 
        <text>Definir senha</text>
    }
}
@section SideBar {
    @if (this.ViewBag.IsDefaultPassword != true)
    {
        <a href="@Url.Action("index")" class="icon-link icon-link-home">Resumo de usuários</a>
    }
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)

    if (this.ViewBag.IsDefaultPassword == true)
    {
    <p>
        Antes de utilizar o software, você deve configurar a sua senha de acesso.</p>
    <p>
        A senha deve ser mantida em segredo, por quanto que todas as atividades realizadas
        utilizando o seu usuário, serão cadastradas como sendo de sua responsabilidade.</p>
    <p>
        Quando for se afastar do computador, tome as devidas precauções. Se necessário use
        a opção "Sair", para que outras pessoas não autorizadas tenham acesso ao seu usuário.</p>
    }
    
    @editPanel.GetHtml()

    <div class="submit-bar">
        <input type="submit" value="salvar senha" />
        @if (this.ViewBag.IsDefaultPassword != true)
        {
            <span class="separator">ou</span>
            Html.ActionLink("cancelar", "Index");
        }
    </div>
}