.balloon
{
    position: absolute;
    display: none;
    z-index: 1000;
}

.balloon-arrow-border 
{
    border-color: transparent #BBBBBB transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    left: -20px;
    position: absolute;
    top: 20px;
    width: 0;
}

.balloon-arrow
{
    border-color: transparent #FFFFEB transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    left: -18px;
    position: absolute;
    top: 20px;
    width: 0;
}


.balloon-wrapper
{
    background-color: #FFFFEB;
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    width: 200px;
    padding: 10px;
}

.balloon-wrapper .title
{
    font-weight: bold;
}

.balloon-wrapper .date 
{
    color: #999999;
}

.patient-box 
{
    margin-top:10px;
}

.patient-box label 
{
    display: block;
    margin-bottom: 3px;
}

.patient-box a
{
    display: block;
    font-size:0.8em;
    margin-top:2px;
}

.patient-box input
{
    width: 100%;
}

.balloon-wrapper .validation-summary-errors
{
    padding:0 3px;
    margin-top: 10px;
    font-size: 0.8em;
}