@model CerebelloWebRole.Areas.App.Models.PracticeHomeIndexViewModel
@{
    ViewBag.Title = "Bem vindo ao Cerebello!";
    Layout = "~/Areas/App/Views/Shared/_LayoutPractice.cshtml";
}
@section Title {
Bem vindo ao Cerebello!
}
<ul>
    <li>Instruções</li>
    <li>Documentação</li>
    <li>Vídeos</li>
    <li>Comunidade</li>
</ul>
