body {
}

label {
    margin-bottom: 2px;
    font-weight: bold;
    color: #666666;
}

    label.remember-me {
        display: inline;
        font-weight: normal;
        margin-left: 5px;
        position: relative;
        top: 1px;
    }

input, textarea {
    color: #333333;
    font-size: 14px;
    line-height: 19px;
    padding: 7px;
}

.btn.huge {
    border-radius: 6px 6px 6px 6px;
    font-size: 18px;
    line-height: normal;
    padding: 15px 18px;
}

#top_menu {
    float: right;
}

.nav-pills .active > a, .nav-pills .active > a:hover {
    background-color: #DFE8ED;
    color: inherit;
}

.topbar {
    background-color: #F8F8F8;
    padding: 10px 0;
    border-bottom: 1px solid #D6D6D6;
}

    .topbar .brand {
        float: left;
        margin-top: 2px;
    }

    .topbar .nav {
        margin-bottom: 0;
    }

        .topbar .nav li {
            float: left;
        }

            .topbar .nav li a {
                font-size: 13px;
                line-height: 18px;
                padding: 4px 10px;
                text-align: center;
            }


.hero {
    background: none repeat scroll 0 0 #F0F0F0;
    border-bottom: 1px solid #E1E1E1;
    border-top: 3px solid #EBEBEB;
    margin-bottom: 30px;
    padding: 15px 0 0;
}

    .hero .big-media {
        margin-top: 20px;
    }

        .hero .big-media img {
            vertical-align: bottom;
            border: 0 none;
        }

.ac {
    text-align: center;
}

.features p {
    font-size: 1.1em;
}

.authentication-container {
    margin: 50px auto;
    width: 100%;
    max-width: 470px;
}

    .authentication-container .authentication-container-wrapper {
        margin: 0 10px;
        border: 1px solid #D6D6D6;
    }

    .authentication-container .authentication-container-wrapper .input-validation-error{
        
    }

    .authentication-container .header {
        background-color: #F1F1F1;
        overflow: hidden;
        padding: 6px 18px;
    }

        .authentication-container .header h2 {
            color: #555555;
            float: left;
            font-size: 18px;
            text-shadow: 1px 1px 0 #FFFFFF;
        }

        .authentication-container .header .link {
            float: right;
            margin-top: 10px;
        }

    .authentication-container .controls-wrapper {
        padding: 20px 30px;
    }

.validation-summary-errors {
    background-color: #FFFFE6;
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: #DD390D;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 6px 10px;
}

    .validation-summary-errors ul {
        margin: 0;
    }

        .validation-summary-errors ul li {
            line-height: 1.2em;
            margin: 3px 0;
            list-style: none outside none;
        }
