body {
    background-color: white;
}

label {
    margin-bottom: 2px;
    font-weight: bold;
    color: #666666;
}

    label.remember-me {
        display: inline;
        font-weight: normal;
        margin-left: 5px;
        position: relative;
        top: 1px;
    }

input, textarea {
    color: #333333;
    font-size: 14px;
    line-height: 19px;
    padding: 7px;
}

.btn.huge {
    border-radius: 6px 6px 6px 6px;
    font-size: 18px;
    line-height: normal;
    padding: 15px 18px;
}

#top_menu {
    float: right;
}

.nav-pills .active > a, .nav-pills .active > a:hover {
    background-color: #DFE8ED;
    color: inherit;
}

.topbar {
    padding: 10px 0;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F8F8F8;
}

    .topbar .brand {
        float: left;
        margin-top: 2px;
    }

    .topbar .nav {
        margin-bottom: 0;
    }

        .topbar .nav li > a {
            height: 18px;
            font-size: 13px;
            line-height: 18px;
            padding: 4px 10px;
        }

        .topbar .nav > li > a {
            text-align: center;
        }

    .topbar img.user-icon {
        vertical-align: top;
        position: relative;
        top: -1px;
        width: 20px;
        height: 20px;
        border: none;
        margin: 0;
    }


.hero {
    background-color: #F0F0F0;
    border-top: 3px solid #EBEBEB;
    border-bottom: 1px solid #E1E1E1;
    background-position: 50% center;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px 0 0;
    background-image: url("/Content/Images/Site/bright_squares.png");
}

    .hero .big-media {
        margin-top: 20px;
    }

        .hero .big-media img {
            vertical-align: bottom;
            border: 0 none;
        }

.ac {
    text-align: center;
}

.features p {
    font-size: 1.1em;
}


.validation-summary-errors {
    background-color: #FFFFE6;
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: #DD390D;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 6px 10px;
}

    .validation-summary-errors ul {
        margin: 0;
    }

        .validation-summary-errors ul li {
            line-height: 1.2em;
            margin: 3px 0;
            list-style: none outside none;
        }

ul.link-list li {
    margin-top: 1em;
}

.hero h1 {
    letter-spacing: -1px;
    margin-bottom: 25px;
}

.hero .create-account-wrapper {
    float: left;
    margin-top: 30px;
    text-align: left;
    width: 500px;
}

.hero .screenshot-wrapper {
    margin: 20px 0 0 500px;
    width: 480px;
}

.hero-wrapper {
    margin: 0 auto;
    width: 1000px;
}

body {
    min-width: 800px;
}

.features-icon {
    margin-left: 50%;
    margin-top: 10px;
}


.green-checks {
    list-style: none outside none;
    margin: 18px 0;
}

    .green-checks li {
        background-image: url("/Content/Images/Site/green-tick.png");
        background-position: 0 3px;
        background-repeat: no-repeat;
        font-size: 15px;
        margin-bottom: 15px;
        padding-left: 35px;
        padding-top: 2px;
    }

.footer {
    background-color: #252525;
    color: #BEBEBE;
    margin-top: 50px;
    min-width: 1100px;
    padding: 45px 0;
}

    .footer p {
        color: #BABABA;
        padding: 8px 0 20px;
    }

    .footer ul {
        color: #6A6A6A;
        font-size: 13px;
        list-style: none outside none;
        margin: 0;
    }

        .footer ul li {
            margin-bottom: 10px;
        }

            .footer ul li:first-child {
                margin-bottom: 15px;
                margin-left: 0;
            }

    .footer .links-horizontal li {
        float: left;
        margin-left: 20px;
    }

    .footer .links-horizontal li {
        float: left;
        margin-left: 20px;
    }

    .footer .twitter-link {
        background-position: left center;
        color: #BDBDBD;
        margin-left: 0;
        opacity: 1;
        padding-left: 30px;
    }

.twitter-link {
    background-image: url("/Content/Images/Site/twitter.png");
    background-position: left center;
    background-repeat: no-repeat;
    display: inline;
    height: 16px;
    margin-left: 5px;
    opacity: 0.4;
    padding: 8px;
    width: 16px;
}

.showcase {
    background-color: #F0F0F0;
    border-bottom: 1px solid #E1E1E1;
    border-radius: 0 0 0 0;
    border-top: 3px solid #EBEBEB;
    margin-bottom: 30px;
    padding: 20px 0 25px;
    text-align: center;
}

    .showcase h1 {
        font-size: 26px;
        line-height: 1.1em;
        margin: 0.25em 0;
    }

    .showcase h2 {
        font-size: 18px;
        line-height: 0.8em;
        margin: 0.25em 0;
        color: #999999;
    }

.prices {
    border-color: #DDDDDD;
}


.table-bordered, .table-outer-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}

.table-outer-bordered {
    border-left: 1px solid #DDDDDD;
}

.table thead th {
    vertical-align: bottom;
}

.prices thead {
    background-color: #006DB3;
    color: white;
}

.prices th {
    border-bottom: 4px solid #00619F;
}

.prices tbody > tr {
    background-color: #FCFCFC;
}

.prices td {
    border-left: 1px dashed #DDDDDD;
    border-top: 0 none;
}

.prices th, .prices td {
    text-align: center;
}

    .prices td:first-child {
        border-left: medium none;
    }

.prices h6 {
    color: #999999;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
}

.text-highlight {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #DD1144;
    padding: 2px 4px;
    white-space: nowrap;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    padding: 0 3px 2px;
}

.contact-phone-li {
    background-image: url("/content/images/site/phone.png");
    background-position: 0 3px;
    background-repeat: no-repeat;
    background-size: 16px auto;
    list-style: none outside none;
    padding-left: 21px;
    margin: 3px 0;
    color: #0088CC;
    font-size: 17px;
    font-weight: bold;
}

.contact-email-li {
    background-image: url("/content/images/site/mail.png");
    background-position: 0 3px;
    background-repeat: no-repeat;
    background-size: 16px auto;
    list-style: none outside none;
    padding-left: 21px;
    margin: 3px 0;
}

.contact-ul {
    margin: 0 0 10px;
    padding: 0;
}

.container .header {
    line-height: 1.2em;
}

.container .container-header h3 {
    color: #A6A6A6;
    letter-spacing: 1px;
    line-height: 1.1em;
    margin: 20px 0;
}
