@{
    ViewBag.Title = "Cerebello - Gerenciador de Consultórios Médicos";
}
<div class="statement">
    <h1>
        Seu consultório funciona melhor com o Cerebello<span style="font-size: 0.7em; position: relative;
            top: -8px;">&reg;</span></h1>
    <h3>
        <span>A melhor opção</span> de sofware para gerenciamento online de consultórios
        médicos</h3>
    <div class="scenarios">
    </div>
</div>
<div class="main-options">
    <a class="option">
        <p class="title">
            Descubra</p>
        <p class="content">
            <img src="/content/images/Site/descubra.png" />
            Guia introdutório, dezenas de vídeos, documentação completa e apoio da comunidade
            online
        </p>
    </a><a class="option option-2">
        <p class="title">
            Experimente</p>
        <p class="content">
            <img src="/content/images/Site/experimente.png" />
            O Cerebello é gratúito para você testar pelo tempo que desejar com o limite de 30
            pacientes
        </p>
    </a><a class="option option-3">
        <p class="title">
            Escolha</p>
        <p class="content">
            <img src="/content/images/Site/escolha.png" />
            Escolha o plano que melhor satisfaça suas necessidades. Acesso ilimitado a partir
            de <span style="color: red; font-weight: bold">R$89/mês</span>
        </p>
    </a>
</div>
<div class="features">
</div>
