@model CerebelloWebRole.Areas.App.Models.AnvisaImportViewModel
@{
    Layout = null;
}
<div class="anvisa-edit">
    @using (Html.BeginForm("edit", "medicines", new { id = ViewBag.MedicationId }, FormMethod.Get, new { id = "anvisa_form" }))
    {
        <table class="form-table">
            <tr>
                <th>
                    Medicamento
                </th>
                <td>
                    @(Html.AutocompleteGridFor<CerebelloWebRole.Areas.App.Models.AnvisaImportViewModel, CerebelloWebRole.Areas.App.Models.SysMedicineLookupGridModel, int>(
                        model => model.AnvisaId,
                        model => model.AnvisaText,
                        Url.Action("LookupSysMedicine", "Medicines"),
                        gridmodel => gridmodel.Id,
                        gridmodel => gridmodel.Name,
                        gridmodel => gridmodel.LaboratoryName))
                </td>
            </tr>
        </table>
        <div class="submit-bar">
            <input type="submit" value="importar" />
            <span class="separator">ou</span> <a id="modal_cancel" href="#">cancelar</a>
        </div>
    }
    
    <script type="text/javascript">
        $("#modal_cancel").click(function (e) {
            e.preventDefault();
            $(this).trigger("modal-cancel");
        });
    </script>
</div>
