@model CerebelloWebRole.Areas.App.Models.MedicinesIndexViewModel
@{
    ViewBag.Title = "Index";
    ViewBag.Watermark = "Pesquisar pelo nome do medicamento, princípio ativo ou laboratório";

    var grid = this.Html.CreateGrid(this.Model.LastRegisteredMedicines, CerebelloWebRole.Code.Constants.GRID_PAGE_SIZE);
    grid.AddField(m => m.Name);
    grid.AddField(m => m.LaboratoryName);
}
@section Title {
    Medicamentos
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("create")" class="icon-link icon-link-plus">Novo medicamento</a> </li>
    </ul>
}

@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}

<div class="widget">
    <p class="title">
        Últimos medicamentos cadastrados
    </p>
   @grid.GetHtml()
</div>
