<a href="@(this.Url.Action("Edit", "Users", new { @Model.id, @Model.practice, area = "App" }))" style="color: white" onclick="$(this).trigger('notification-close')">
    Por favor, complete as informações de seu perfil para uma melhor experiência com o software.
</a>
