<a href="@this.Url.Action("Edit", "PracticeHome", new { @Model.practice, area = "App" })" style="color: white" onclick="$(this).trigger('notification-close')">
    Por favor, complete as informações do consultório. Essas informações são necessárias para várias operações como o envio de e-mails para os pacientes.
</a>
