@model CerebelloWebRole.Code.Data.PanelTopMenuData
<div class="panel-top-menu">
    <div class="icon-link icon-link-edit inline-link" onclick="ajaxLoad('@this.Model.EditUrl', '@this.Model.PanelSelector')">
        Edit
    </div>
</div>