@model CerebelloWebRole.Areas.App.Models.ExaminationRequestViewModel
@{
    Layout = null;
}
<div class="examrequest-details medical-appointment-details-panel" data-val-id="examrequest-@Model.Id">
    @Html.Message("A requisição de exame não existe no sistema. É possível que ela tenha sido removida.")
</div>
