@{
    ViewBag.Title = "Contate um administrador";
}
<div class="authentication-container">
    <div class="authentication-container-wrapper">
        <div class="header">
            <h2>@ViewBag.Title</h2>
        </div>
        <div>
            <p>Não foi possível redefinir a sua senha pois você não possui nenhum e-mail cadastrado.</p>
            <p>Por favor, entre em contato com um administrador do sistema, ou o responsável pelo sistema, e peça que ele redefina a sua senha.</p>
            <p>Desculpe-nos o inconveniente, e obrigado pela compreensão.</p>
            
            @*TODO: exibir uma lista de pessoas que são administradores*@
        </div>
    </div>
</div>
