@{
    ViewBag.Title = "E-mail enviado";
}
<div class="authentication-container">
    <div class="authentication-container-wrapper">
        <div class="header">
            <h2>@ViewBag.Title</h2>
        </div>
        <div>
            <p>Um e-mail foi enviado para você, com instruções de como redefinir a sua senha.</p>
            <p>Verifique sua caixa de e-mail. Note que a mensagem pode demorar alguns minutos para chegar.</p>
            <p>Se nenhum e-mail chegar, por favor <a href="@Url.Action("ResetPasswordRequest")">tente novamente</a>.</p>
        </div>
    </div>
</div>
