@{
    this.Layout = "../Shared/_AuthenticationLayout.cshtml";
    ViewBag.Title = "Contate um administrador";
}
@section Title
{
    @ViewBag.Title
}
<div class="controls-wrapper">
    <p>Não foi possível redefinir a sua senha pois você não possui nenhum e-mail cadastrado.</p>
    <p>
        Por favor, entre em contato com um administrador do sistema,
        ou o responsável pelo sistema no seu consultório, e peça que ele redefina a sua senha.
    </p>
    <p>Desculpe-nos o inconveniente, e obrigado pela compreensão.</p>

    @*TODO: exibir uma lista de pessoas que são administradores*@
</div>
