@model IdentityViewModel
@{
    this.Layout = "../Shared/_AuthenticationLayout.cshtml";
    this.ViewBag.Title = "Requisição cancelada";
}
@section Title
{
    @ViewBag.Title
}
@if (this.ViewBag.CannotRedefinePassword == true)
{
    <div class="controls-wrapper">
        <div class="alert alert-block alert-error fade in">
            <p>Não existe nenhuma requisição para fazer alteração de senha.</p>
        </div>
        <p>Não se preocupe!</p>
        <p>Esta requisição para alterar a sua senha não existe.</p>
        <p>Se você estiver com problemas em acessar sua conta, <a href="mailto:cerebello@cerebello.com.br">entre em contato conosco</a>.</p>
    </div>
}
else
{
    <div class="controls-wrapper">
        <p>
            Desculpe-nos pela inconveniência!
        </p>
        <p>
            A requisição de alteração de senha para a sua conta foi cancelada.
            Você pode continuar usando sua senha para acessar o software normalmente.
        </p>
        <p>
            Obrigado pela compreensão.
        </p>
    </div>
}
