@{
    this.Layout = "../Shared/_AuthenticationLayout.cshtml";
    this.ViewBag.Title = "E-mail enviado";
}
@section Styles
{
    <style type="text/css">
        .xpto {
            white-space: nowrap;
            background-color: #F8F8F8;
            border: 1px solid #EAEAEA;
            border-radius: 3px 3px 3px 3px;
            margin: 0 2px;
            padding: 0 5px;
            font-family: Consolas,'Liberation Mono',Courier,monospace;
            font-size: 1.1em;
            line-height: 1.6;
            color: #333333;
        }
    </style>
}
@section Title
{
    @ViewBag.Title
}
@section TitleButtons
{
    <a class="btn btn-small" href="@Url.Action("Login")" class="link">Voltar</a>
}
<div class="controls-wrapper">
    <div>
        <p>Um e-mail foi enviado para você, com instruções de como redefinir a sua senha.</p>
        <p>Verifique sua caixa de e-mail. Note que a mensagem pode demorar alguns minutos para chegar.</p>
        <p>Se o e-mail não chegar em sua caixa de e-mail, verifique a sua caixa de <span class="xpto">SPAM</span>.</p>
        <p>
            Se nenhum e-mail chegar, por favor <a href="@this.Url.Action("ResetPasswordRequest")">tente novamente</a>,
            ou <a href="mailto:@Constants.EMAIL_CEREBELLO">entre em contato conosco</a>.
        </p>
    </div>
</div>
